<div class="top-bar">
    <div class="container d-flex flex-column flex-md-row justify-content-between align-items-center">
        <span style="color: #176FC1;"><img src="assets/home-imgs/Symbol.png"> Mahad Phata, Old Mumbai–Pune Hwy, Khopoli,
            Raigad</span>
        <span style="color: #176FC1;"><img src="assets/home-imgs/Symbol (1).png"> +91 74004 51254 | <img
                src="assets/home-imgs/Symbol (2).png"> info&#64;uksresort.com</span>
    </div>
</div>

<nav class="navbar navbar-expand-lg main-navbar" id="mainHeader">
    <div class="container">
        <a class="navbar-brand" href="#">
            <img src="assets/home-imgs/logo 1.png" alt="Logo">
        </a>

        <button class="navbar-toggler bg-light" type="button" data-bs-toggle="collapse" data-bs-target="#nav">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="nav">
            <ul class="navbar-nav ms-auto align-items-center gap-4">
                <li class="nav-item"><a class="nav-link" href="#">Home</a></li>
                <li class="nav-item"><a class="nav-link" href="/about-us">About</a></li>
                <li class="nav-item"><a class="nav-link" href="/rooms">Rooms</a></li>
                <li class="nav-item"><a class="nav-link" href="/dining">Dining</a></li>
                <li class="nav-item"><a class="nav-link" href="/tariff">Tariff</a></li>
                <li class="nav-item"><a class="nav-link" href="/gallery">Gallery</a></li>
                <li class="nav-item"><a class="nav-link" href="/contact">Contact</a></li>
               <li class="nav-item dropdown">
  <a class="nav-link dropdown-toggle"  id="eventsDropdown" role="button">
    Events
  </a>
  <ul class="dropdown-menu">
     <li><a class="dropdown-item" href="/events">All Events</a></li>
    <li><a class="dropdown-item" href="/picnic">One Day Picnic</a></li>
    <li><a class="dropdown-item" href="/conference">Conference</a></li>
    <li><a class="dropdown-item" href="/wedding">Wedding</a></li>
    <li><a class="dropdown-item" href="/sports">Sports</a></li>

  </ul>
</li>
                <li class="nav-item"><a class="nav-link" href="/facilities">Facilities</a></li>
            </ul>

            <a href="https://bookone.io/UK-s-Resort-Khopoli?bookingEngine=true"
                class="btn btn-light book-btn book-nav">BOOK
                NOW</a>
        </div>
    </div>
</nav>

<section class="hero uks-hero-image">
  <div class="hero-content">
  </div>
</section>

<div class="terms-condition-container">
    <h1>Terms & Conditions</h1>
    <section>
        <h2>Mandatory Requirements:</h2>
        <p>All foreign nationals need to carry a valid Passport, Visa / work permit and need to present it at the time of arrival which will be checked and verified by the relevant authorities.</p>
        <p>All Indian nationals have to present a Photo Identification proof and address details at the time of arrival.</p>
    </section>

    <section>
        <h2>Cancellation Policy & Modification Policy:</h2>
        <p>Cancellations / Modification by customers made more than 15 days before stay date will not incur cancellation charges.</p>
        <p>Cancellations / Modification within 7 to 15 days of stay date will incur a 50% cancellation fee. Cancellations / Modification within 0 to 7 days will incur a 100% cancellation fee.</p>
    </section>

    <section class="no-pets">
        <p><strong>PETS ARE NOT ALLOWED IN THE RESORT</strong></p>
    </section>

    <section>
        <h2>RESERVATION POLICIES AND GUIDELINES</h2>
        <ul class="guidelines-list">
            <li>Specific food request should be made at least 24 hrs prior to the date of arrival</li>
            <li>Taxes will be applicable as per Government regulations</li>
            <li>All major credit cards are accepted</li>
            <li>We do not accept personal cheques</li>
            <li>Right of admission reserved with management</li>
            <li>50% advance to be paid at time of booking</li>
            <li>Balance should be paid before 08 days from arrival date</li>
            <li>Swimming Costumes are compulsory to enter the swimming pool & water Park</li>
            <li>Outside eatables & beverages are not allowed</li>
        </ul>
    </section>
</div>
