
<app-header></app-header>
<div class="p-0 booking-page">
  <div class="row g-0 min-vh-100 ">

    <!-- LEFT PANEL -->
    <div class="col-lg-11 col-12 px-5 py-4 padding-none">
      <div class="d-flex justify-content-end">
         <button class="btn btn-call" (click)="navigatetoHome()" >
          <i class="fa-solid fa-house"></i> &nbsp; Back to home
        </button> &nbsp; &nbsp;
         <button class="btn btn-call">
          <i class="bi bi-telephone"></i> &nbsp; Call to Book
        </button>
      </div>

      <!-- TOP BAR (EXACT LIKE SCREENSHOT) -->
      <div class="mb-4 topbar container" *ngIf="step != 3">

        <div class="progress-section">
      <div class="steps-row">
        <div class="step-title" [class.active]="step === 0">LOCATION & TIME</div>
        <div class="step-title" [class.active]="step === 1">PASSENGER & VEHICLE SELECTION</div>
        <div class="step-title" [class.active]="step === 2">BOOKING SUMMARY</div>
      </div>

        <div class="progress progress-custom mt-2">
          <div class="progress-bar progress-fill"
            [style.width.%]="progressPct()">
          </div>
        </div>
      </div>
      </div>

      <!-- Dynamic Steps -->
      <div class="mt-4">
        <ng-container [ngSwitch]="step">
          <app-step-location *ngSwitchCase="0"></app-step-location>
          <app-step-passenger *ngSwitchCase="1"></app-step-passenger>
          <app-step-summary *ngSwitchCase="2"></app-step-summary>
          <app-step-confirmation *ngSwitchCase="3"></app-step-confirmation>
        </ng-container>
      </div>

    </div>

    <!-- RIGHT PANEL (EXACT LIKE SCREENSHOT) -->
    <div *ngIf="step != 3" class="col-lg-1 d-none d-lg-flex align-items-center justify-content-center right-panel">
      <div class="sidebar-icons">

  <!-- Step 1 -->
  <div class="icon-step"
       [ngClass]="{ 'active': step >= 0, 'mid': step < 0 }">
    <i class="bi bi-gear-fill"></i>
  </div>

    <!-- Step 2 -->
    <div class="icon-step"
        [ngClass]="{ 'active': step >= 1, 'mid': step < 1 }">
      <i class="bi bi-person"></i>
    </div>

    <!-- Step 3 -->
    <div class="icon-step"
        [ngClass]="{ 'active': step >= 2, 'mid': step < 2 }">
      <i class="bi bi-car-front"></i>
    </div>

  </div>
    </div>

  </div>
</div>
