<div class="top-bar">
    <div class="container d-flex flex-column flex-md-row justify-content-between align-items-center">
        <span style="color: #176FC1; font-family: 'Lato', sans-serif;"><img src="assets/home-imgs/Symbol.png"> Mahad
            Phata,
            Old Mumbai–Pune Hwy, Khopoli,
            Raigad</span>
        <span style="color: #176FC1; font-family: 'Lato', sans-serif;"><img src="assets/home-imgs/Symbol (1).png">
            +917400451254 | <img src="assets/home-imgs/Symbol (2).png"> info&#64;uksresort.com</span>
    </div>
</div>

<nav class="navbar navbar-expand-lg main-navbar" id="mainHeader">
    <div class="container">
        <a class="navbar-brand" href="#">
            <img src="assets/home-imgs/logo 1.png" alt="Logo">
        </a>

        <button class="navbar-toggler bg-light" type="button" data-bs-toggle="collapse" data-bs-target="#nav">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="nav">
            <ul class="navbar-nav ms-auto align-items-center gap-4">
                <li class="nav-item"><a class="nav-link" href="#">Home</a></li>
                <li class="nav-item"><a class="nav-link" href="/about-us">About</a></li>
                <li class="nav-item"><a class="nav-link" href="/rooms">Rooms</a></li>
                <li class="nav-item"><a class="nav-link" href="/dining">Dining</a></li>
                <!-- <li class="nav-item"><a class="nav-link" href="#">Facilities</a></li> -->
                <li class="nav-item"><a class="nav-link" href="/gallery">Gallery</a></li>
                <li class="nav-item"><a class="nav-link" href="/contact">Contact</a></li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="/events" id="eventsDropdown" role="button">
                        Events
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="/picnic">One Day Picnic</a></li>
                        <li><a class="dropdown-item" href="/conference">Conference</a></li>
                        <li><a class="dropdown-item" href="/wedding">Wedding</a></li>
                        <li><a class="dropdown-item" href="/sports">Sports</a></li>

                    </ul>
                </li>

                <li class="nav-item"><a class="nav-link" href="/facilities">Facilities</a></li>
            </ul>

            <a href="https://bookone.io/UK-s-Resort-Khopoli?bookingEngine=true"
                class="btn btn-light book-btn book-nav">BOOK
                NOW</a>
        </div>
    </div>
</nav>


<section class="hero uks-hero-image">
    <div class="hero-content">
    </div>
</section>

<section class="page-title-section py-4">
    <div class="text-center">
        <h1>
            Dining
        </h1>
    </div>
</section>

<section class="picnic-wrapper">
    <div class="picnic-container">

        <div class="picnic-image">
            <div class="picnic-carousel">
                <div class="picnic-slides">
                    <div class="image-wrapper">
                        <div class="slider-track">
                            <img src="assets/home-imgs/restaurant1.jpg" alt="Picnic">
                            <img src="assets/home-imgs/restaurant2.jpg" alt="Swimming Pool">
                            <img src="assets/home-imgs/restaurant3.jpg" alt="Kids Area">
                            <img src="assets/home-imgs/restaurant6.jpg" alt="Wall Climbing">
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="picnic-content">
            <p class="picnic-text">
                No holiday can be complete without building up a ravenous appetite. UK's Resort offers plenty of
                tongue-tingling cuisines.
                We pride ourselves on our variety of cuisine that is as innovative as it is appetizing. You can opt for
                Delicious Chinese Mughlai and Indian Cuisine.
                The Restaurant caters to the tastes of each of its Guests. Our Friendly Professional Staff are always on
                hand to offers advice and assistance with each and every aspect of your meal. Enjoy a hearty lunch and a
                delectable dinner at UK's Resort.
                The restaurant here offer quality service coupled with mouth - watering cuisines. Non-vegetarian or
                vegetarian - it does not matter as you get sumptuous varieties of dishes in both the categories at the
                restaurant.
            </p>


            <div class="picnic-links">
                <a href="#">Take a Virtual Tour</a>
            </div>
        </div>

    </div>
</section>