<div class="top-bar">
    <div class="container d-flex flex-column flex-md-row justify-content-between align-items-center">
        <span style="color: #176FC1; font-family: 'Lato', sans-serif;"><img src="assets/home-imgs/Symbol.png"> Mahad
            Phata,
            Old Mumbai–Pune Hwy, Khopoli,
            Raigad</span>
        <span style="color: #176FC1; font-family: 'Lato', sans-serif;"><img src="assets/home-imgs/Symbol (1).png">
            +917400451254 | <img src="assets/home-imgs/Symbol (2).png"> info&#64;uksresort.com</span>
    </div>
</div>

<nav class="navbar navbar-expand-lg main-navbar" id="mainHeader">
    <div class="container">
        <a class="navbar-brand" href="#">
            <img src="assets/home-imgs/logo 1.png" alt="Logo">
        </a>

        <button class="navbar-toggler bg-light" type="button" data-bs-toggle="collapse" data-bs-target="#nav">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="nav">
            <ul class="navbar-nav ms-auto align-items-center gap-4">
                <li class="nav-item"><a class="nav-link" href="#">Home</a></li>
                <li class="nav-item"><a class="nav-link" href="/about-us">About</a></li>
                <li class="nav-item"><a class="nav-link" href="/rooms">Rooms</a></li>
                <li class="nav-item"><a class="nav-link" href="/dining">Dining</a></li>
                <li class="nav-item"><a class="nav-link" href="/tariff">Tariff</a></li>
                <li class="nav-item"><a class="nav-link" href="/gallery">Gallery</a></li>
                <li class="nav-item"><a class="nav-link" href="/contact">Contact</a></li>
                <li class="nav-item"><a class="nav-link" href="/reservation">Reservation</a></li>
                <li class="nav-item dropdown">
  <a class="nav-link dropdown-toggle" id="eventsDropdown" role="button">
    Events
  </a>
  <ul class="dropdown-menu">
     <li><a class="dropdown-item" href="/events">All Events</a></li>
    <li><a class="dropdown-item" href="/picnic">One Day Picnic</a></li>
    <li><a class="dropdown-item" href="/conference">Conference</a></li>
    <li><a class="dropdown-item" href="/wedding">Wedding</a></li>
    <li><a class="dropdown-item" href="/sports">Sports</a></li>

  </ul>
</li>
                <li class="nav-item"><a class="nav-link" href="/facilities">Facilities</a></li>
            </ul>

            <a href="https://bookone.io/UK-s-Resort-Khopoli?bookingEngine=true"
                class="btn btn-light book-btn book-nav">BOOK
                NOW</a>
        </div>
    </div>
</nav>

<section class="hero uks-hero-image">
    <div class="hero-content">
    </div>
</section>

<div class="container">
    <h1 class="blog-title">Blogs</h1>

    <section class="corporate-event-grid">
        <h2 class="grid-heading">Off The Beaten Track For Your Corporate Events: UKs Resort, Khopoli</h2>

        <div class="text-content">
            <p>
                The dramatic shift in the way we travel has seen many changes, innovations and creativity.
                And so is it with the corporate world and their business tours. To develop a work-life
                balance, to hold meetings and launch their new services and products, the companies
                are inclined towards having an official getaway which is rewarding.
            </p>
             <a href="/blog-page1" class="read-more-link">
               <button class="read-more">Read More</button>
             </a>
        </div>

        <div class="image-content">
            <img src="/assets/home-imgs/happy-co-workers.jpg" alt="Corporate Toasting">
        </div>
    </section>

    <section class="corporate-event-grid">
        <h2 class="grid-heading">From Making Memories to Discovering: A treasure trove of experience</h2>

        <div class="text-content">
            <p>
                No wonder there are endless famous and popular places in India to offer you a special vacation.
                But this is also true that there are ample places which are largely untouched.
                There are hidden gems which need to be dug and are unquestionably wonderful and splendid when it comes
                to celebrating your individuality, freedom as well as togetherness.
            </p>
            <a href="/blog-page2" class="read-more-link">
               <button class="read-more">Read More</button>
             </a>
        </div>

        <div class="image-content">
            <img src="/assets/home-imgs/making-memories.jpg" alt="Corporate Toasting">
        </div>
    </section>

    <section class="corporate-event-grid">
        <h2 class="grid-heading">A PLEASANT STAY TODAY</h2>

        <div class="text-content">
            <p>
                Evolution has become an important aspect for the current generation.
                It brings new changes for good. Everybody tries to fit into the evolving changes and hence the
                expectation in every field is to come up with something new and surprise us and here it is.
                The most emerging and dynamic resort near Mumbai at Khopoli which meets all the emerging needs and
                expectations in today’s world making your stay pleasant, a perfect one indeed.
            </p>
            <a href="/blog-page3" class="read-more-link">
               <button class="read-more">Read More</button>
             </a>
        </div>

        <div class="image-content">
            <img src="/assets/home-imgs/uks-exterior1-1.jpg" alt="Corporate Toasting">
        </div>
    </section>

    <section class="uk-resort-section">
        <h2 class="without-grid-heading">UKsResort Plan One Day Trip near Mumbai for Family or Colleagues without any
            Hassles</h2>

        <div class="text-content">
            <p>
                Places near Mumbai for team outing whether for family or office colleagues, should be affordable with
                many activities.
                UKsResort is priced competitively and has a myriad of activities to pick from. The staff too is
                courteous and your colleagues or family is sure not to be disappointed.
                The Certificate of Excellence does wonders for resort. The reviews received by UKsResort have all been
                positive. The consistent good reviews earned it the certificate from Tripadvisor.
                If you are planning a one day trip near Mumbai for family or colleagues, you need to be sure that the
                hotel fulfils its promises despite its affordable tariff
            </p>
           <a href="/blog-page4" class="read-more-link">
               <button class="read-more">Read More</button>
             </a>
        </div>
    </section>

     <section class="uk-resort-section">
        <h2 class="without-grid-heading">UK’s Resort, Khopoli – Best Destination for Arranging Kitty Party in Mumbai</h2>

        <div class="text-content">
            <p>
                Do you want to stay away from the hustle-bustle life? Are you searching for the best destination for celebrating party? If so, then you will choose UK’s Resort. Khopoli .
                It is a perfect place for organizing a party, virtual tour, and other events based on your requirements and demands.
                This resort name is refined for the excellence of hospitality among the people across the world.
                Their ultimate vision is to serve all their guests with a personal touch and making them feel on the top-notch of the world. Moreover, this resort has awarded by the TripAdvisor certificate for excellence because of its hospitality excellence.
            </p>
           <a href="/blog-page5" class="read-more-link">
               <button class="read-more">Read More</button>
             </a>
        </div>
    </section>

</div>
