<!-- TOP BAR -->
<div class="top-bar">
  <div class="container d-flex flex-column flex-md-row justify-content-between align-items-center">
    <span style="color: #176FC1; font-family: 'Lato', sans-serif;"><img src="assets/home-imgs/Symbol.png"> Mahad Phata,
      Old Mumbai–Pune Hwy, Khopoli,
      Raigad</span>
    <span style="color: #176FC1; font-family: 'Lato', sans-serif;"><img src="assets/home-imgs/Symbol (1).png">
      +917400451254 | <img src="assets/home-imgs/Symbol (2).png"> info&#64;uksresort.com</span>
  </div>
</div>

<!-- NAVBAR -->
<nav class="navbar navbar-expand-lg main-navbar" id="mainHeader">
  <div class="container">
    <a class="navbar-brand" href="#">
      <img src="assets/home-imgs/logo 1.png" alt="Logo">
    </a>

    <button class="navbar-toggler bg-light" type="button" data-bs-toggle="collapse" data-bs-target="#nav">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="nav">
      <ul class="navbar-nav ms-auto align-items-center gap-4">
        <li class="nav-item"><a class="nav-link" href="#">Home</a></li>
        <li class="nav-item"><a class="nav-link" href="/about-us">About</a></li>
        <li class="nav-item"><a class="nav-link" href="/rooms">Rooms</a></li>
        <li class="nav-item"><a class="nav-link" href="/dining">Dining</a></li>
        <li class="nav-item"><a class="nav-link" href="/tariff">Tariff</a></li>
        <!-- <li class="nav-item"><a class="nav-link" href="#">Dining</a></li> -->
        <!-- <li class="nav-item"><a class="nav-link" href="#">Facilities</a></li> -->
        <li class="nav-item"><a class="nav-link" href="/gallery">Gallery</a></li>
        <li class="nav-item"><a class="nav-link" href="/contact">Contact</a></li>
        <li class="nav-item"><a class="nav-link" href="/reservation">Reservation</a></li>
        <li class="nav-item dropdown">
  <a class="nav-link dropdown-toggle"  id="eventsDropdown" role="button">
    Events
  </a>
  <ul class="dropdown-menu">
     <li><a class="dropdown-item" href="/events">All Events</a></li>
    <li><a class="dropdown-item" href="/picnic">One Day Picnic</a></li>
    <li><a class="dropdown-item" href="/conference">Conference</a></li>
    <li><a class="dropdown-item" href="/wedding">Wedding</a></li>
    <li><a class="dropdown-item" href="/sports">Sports</a></li>

  </ul>
</li>

        <li class="nav-item"><a class="nav-link" href="/facilities">Facilities</a></li>
      </ul>

      <a href="https://bookone.io/UK-s-Resort-Khopoli?bookingEngine=true" class="btn btn-light book-btn book-nav">BOOK
        NOW</a>
    </div>
  </div>
</nav>
<section class="hero-gallery">

  <div class="hero-content">

    <div class="hero-text">
      <h1>
         <span class="line-unique-heading"></span>UK’S Resort, Khopoli </h1>
    </div>

  </div>

</section>
<section class="picnic-wrapper">
  <div class="picnic-container">

    <!-- Image Section -->
    <div class="picnic-image">
  <div class="picnic-carousel">

      <div class="image-wrapper">
                <div class="slider-track">
                    <img src="assets/home-imgs/picnic7.jpg" alt="Picnic">
                    <img src="assets/home-imgs/picnic10.jpg" alt="Picnic">
                    <img src="assets/home-imgs/picnic5.jpg" alt="Swimming Pool">
                    <img src="assets/home-imgs/picnic6.jpg" alt="Picnic">
                    <img src="assets/home-imgs/picnic1.jpg" alt="Picnic">
                    <img src="assets/home-imgs/picnic10.jpg" alt="Picnic">
                </div>
            </div>

  </div>
</div>

    <!-- Content Section -->
    <div class="picnic-content">
      <h2 class="picnic-title">Family & School Picnic:</h2>

      <p class="picnic-text">
        Arrive at UK's Resort, Khopoli after a scenic drive along the green countryside.
        A sumptuous buffet breakfast awaits you. Let down your hair at the Mini water park.
        Splash around the cool waters and swing to the latest music by the pool side.
        What's more, we have music, rain & masti all year round with Rain Dance.
      </p>

      <p class="picnic-text">
        After a frolicking time in the water enjoy the renowned UK's Resort delicious unlimited
        buffet lunch. Make the most of the 6 acres of open space to play games with your family
        and friends. The little ones can make merry in the children's play park.
      </p>

      <p class="picnic-text">
        Round up an exciting picnic with hot beverages and snacks.
        The unforgettable experience at UK's Resort Khopoli will have you and your family returning for more.
      </p>

      <div class="picnic-links">
        <a href="#">Take a Virtual Tour</a>
        <span>|</span>
        <a href="https://www.google.co.in/maps/@18.8171575,73.3046448,3a,90y,119.21h,85.89t/data=!3m8!1e1!3m6!1s2c65xsf3YxUAAAQvxYn66g!2e0!3e2!6shttps:%2F%2Fstreetviewpixels-pa.googleapis.com%2Fv1%2Fthumbnail%3Fcb_client%3Dmaps_sv.tactile%26w%3D900%26h%3D600%26pitch%3D4.109999999999999%26panoid%3D2c65xsf3YxUAAAQvxYn66g%26yaw%3D119.21!7i13312!8i6656?entry=ttu&g_ep=EgoyMDI2MDEyMS4wIKXMDSoKLDEwMDc5MjA2N0gBUAM%3D" target="_blank" class="virtual-tour">Kids Area</a>
        <span>|</span>
        <a href="https://www.google.co.in/maps/place/UK'S+RESORT,+Khopoli/@18.817145,73.3046891,3a,90y,82.75h,75.21t/data=!3m8!1e1!3m6!1sEqXPpiFcSuYAAAQvxYn65A!2e0!3e2!6shttps:%2F%2Fstreetviewpixels-pa.googleapis.com%2Fv1%2Fthumbnail%3Fcb_client%3Dmaps_sv.tactile%26w%3D900%26h%3D600%26pitch%3D14.790000000000006%26panoid%3DEqXPpiFcSuYAAAQvxYn65A%26yaw%3D82.75!7i13312!8i6656!4m10!3m9!1s0x3be7fd68dbb32757:0x45a268bbfa521ef0!5m2!4m1!1i2!8m2!3d18.8171404!4d73.3046807!10e5!16s%2Fg%2F1hm2py2ft?entry=ttu&g_ep=EgoyMDI2MDEyMS4wIKXMDSoKLDEwMDc5MjA2N0gBUAM%3D" target="_blank" class="virtual-tour">Swimming Pool</a>
        <span>|</span>
        <a href="https://www.google.co.in/maps/@18.8171679,73.3047501,3a,75y,251.92h,87.85t/data=!3m7!1e1!3m5!1spkBtZmeTSZ4AAAQvxYuH3Q!2e0!6shttps:%2F%2Fstreetviewpixels-pa.googleapis.com%2Fv1%2Fthumbnail%3Fcb_client%3Dmaps_sv.tactile%26w%3D900%26h%3D600%26pitch%3D2.1500000000000057%26panoid%3DpkBtZmeTSZ4AAAQvxYuH3Q%26yaw%3D251.92!7i13312!8i6656?entry=ttu&g_ep=EgoyMDI2MDEyMS4wIKXMDSoKLDEwMDc5MjA2N0gBUAM%3D" target="_blank" class="virtual-tour">Party Plot</a>
      </div>
    </div>

  </div>
</section>
