<!-- TOP BAR -->
<div class="top-bar">
    <div class="container d-flex flex-column flex-md-row justify-content-between align-items-center">
        <span style="color: #176FC1;"><img src="assets/home-imgs/Symbol.png"> Mahad Phata, Old Mumbai–Pune Hwy, Khopoli,
            Raigad</span>
        <span style="color: #176FC1;"><img src="assets/home-imgs/Symbol (1).png"> +91 74004 51254 | <img
                src="assets/home-imgs/Symbol (2).png"> info&#64;uksresort.com</span>
    </div>
</div>

<!-- NAVBAR -->
<nav class="navbar navbar-expand-lg main-navbar" id="mainHeader">
    <div class="container">
        <a class="navbar-brand" href="#">
            <img src="assets/home-imgs/logo 1.png" alt="Logo">
        </a>

        <button class="navbar-toggler bg-light" type="button" data-bs-toggle="collapse" data-bs-target="#nav">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="nav">
            <ul class="navbar-nav ms-auto align-items-center gap-4">
                <li class="nav-item"><a class="nav-link" href="#">Home</a></li>
                <li class="nav-item"><a class="nav-link" href="/about-us">About</a></li>
                <li class="nav-item"><a class="nav-link" href="/rooms">Rooms</a></li>
                <li class="nav-item"><a class="nav-link" href="/dining">Dining</a></li>
                <li class="nav-item"><a class="nav-link" href="/tariff">Tariff</a></li>
                <!-- <li class="nav-item"><a class="nav-link" href="#">Facilities</a></li> -->
                <li class="nav-item"><a class="nav-link" href="/gallery">Gallery</a></li>
                <li class="nav-item"><a class="nav-link" href="/contact">Contact</a></li>
                <li class="nav-item"><a class="nav-link" href="/reservation">Reservation</a></li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" id="eventsDropdown" role="button">
                        Events
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="/events">All Events</a></li>
                        <li><a class="dropdown-item" href="/picnic">One Day Picnic</a></li>
                        <li><a class="dropdown-item" href="/conference">Conference</a></li>
                        <li><a class="dropdown-item" href="/wedding">Wedding</a></li>
                        <li><a class="dropdown-item" href="/sports">Sports</a></li>

                    </ul>
                </li>
                <li class="nav-item"><a class="nav-link" href="/facilities">Facilities</a></li>
            </ul>

            <a href="https://bookone.io/UK-s-Resort-Khopoli?bookingEngine=true"
                class="btn btn-light book-btn book-nav">BOOK
                NOW</a>
        </div>
    </div>
</nav>

<section class="hero uks-hero-image">
    <div class="hero-content">
        <h1>Everything You Need for a Perfect Stay</h1>
    </div>
</section>

<section class="nature-section">
    <div class="nature-container">
        <div class="nature-content">
            <h2 class="nature-title">Facilities</h2>
            <p class="intro-text">The Name That Redefines Hospitality Par-Excellence In The Lush Green Landscape At
                Khopoli.</p>

            <ul class="facilities-list">
                <li>Discover the euphoria within you with boundless fun under nonstop sprinkling water and break into a
                    wild Rain dance</li>
                <li>Splash into the cool and clear waters of our swimming pools and indulge in a game of water polo or
                    leisurely amble on the poolside deck</li>
                <li>Slide into pure merriment and relentless excitement with a fully customized ride through our Water
                    Park.</li>
                <li>Bounce your afternoon with friends and family with a wide range of Indoor Games including table
                    tennis, badminton and carom</li>
                <li>The Evenings are the perfect time to run amok in our lush green environment with a host of Outdoor
                    Sports like volleyball, cricket, and football</li>
                <li>Sweat it out in our fully furnished Gym geared with the most sophisticated equipment</li>
                <li>Toddlers or Children alike have ample space to swing and breeze through our exclusively designed
                    Kid's Park</li>
                <li>24 Hours Of Hot & Cold running water, satellite TV channels and luxurious facilities will keep you
                    entranced in your holiday break</li>
                <li>Express Laundry services to provide you with the last minute dress code change that you had not
                    anticipated</li>
                <li>Wi-Fi Internet Facility in rooms for those who just want to peek back at their office desk!</li>
                <li>We also provide adventure activities like Paint Ball, Archery, Rifle Shooting, Body Zorbing, Water
                    Zorbing, Artificial Wall Climbing and Team Building Activities <strong>(Extra Charges will be
                        applicable).</strong></li>
                <li class="policy-note">Pets are not allowed in resort</li>
            </ul>
            <p class="credit-cards">All major credit cards are accepted.</p>
        </div>

        <div class="nature-visuals">
            <div class="image-wrapper">
                <div class="slider-track">
                    <img src="assets/home-imgs/picnic1.jpg" alt="Picnic">
                    <img src="assets/home-imgs/restaurant1.jpg" alt="Swimming Pool">
                    <img src="assets/home-imgs/picnic5.jpg" alt="Kids Area">
                    <img src="assets/home-imgs/gym.jpg" alt="Wall Climbing">
                    <img src="assets/home-imgs/adventure1.jpg" alt="Wall Climbing">
                    <img src="assets/home-imgs/picnic6.jpg" alt="Wall Climbing">
                    <img src="assets/home-imgs/adventure3.jpg" alt="Wall Climbing">
                </div>
            </div>

            <div class="virtual-tour">
                <h3>Take a Virtual Tour</h3>
                <div class="tour-links">
                    <a href="https://www.google.co.in/maps/@18.8171237,73.304683,3a,75y,55.63h,90t/data=!3m7!1e1!3m5!1sCIHM0ogKEICAgICEuMCBbA!2e10!6shttps:%2F%2Flh3.googleusercontent.com%2Fgpms-cs-s%2FAFfmt2a-ptDg7NBKNlS0huSEQ5GhYro75pdOJiB3XK8kB8bnB_vv_1MFSoqUE6Ql8EdVLc1ZFcKqBGsctkJno4lWUsktz2l98y-RpZDXgYFVyzN0l3qlfwThdEJsPDs3hn6lK-VEHP4%3Dw900-h600-k-no-pi0-ya34.91028785705566-ro0-fo100!7i13312!8i6656?entry=ttu&g_ep=EgoyMDI2MDEyMS4wIKXMDSoKLDEwMDc5MjA3MUgBUAM%3D"
                        target="_blank" class="virtual-tour">
                        <span>Swimming Pool</span>
                    </a>
                    |
                     <a href="https://www.google.co.in/maps/@18.8171404,73.3046851,3a,90y,257.14h,79.61t/data=!3m7!1e1!3m5!1sluO7GcaMtf0AAAQvxYhZag!2e0!6shttps:%2F%2Fstreetviewpixels-pa.googleapis.com%2Fv1%2Fthumbnail%3Fcb_client%3Dmaps_sv.tactile%26w%3D900%26h%3D600%26pitch%3D10.39%26panoid%3DluO7GcaMtf0AAAQvxYhZag%26yaw%3D257.14!7i13312!8i6656?entry=ttu&g_ep=EgoyMDI2MDEyMS4wIKXMDSoKLDEwMDc5MjA3MUgBUAM%3D"
                        target="_blank" class="virtual-tour">
                        <span>Kids Area</span>
                    </a>
                    |
                     <a href="https://www.google.co.in/maps/@18.8171609,73.3046823,3a,75y,204.63h,85.09t/data=!3m8!1e1!3m6!1s2KDH2H1qz_8AAAQvxYlBkw!2e0!3e2!6shttps:%2F%2Fstreetviewpixels-pa.googleapis.com%2Fv1%2Fthumbnail%3Fcb_client%3Dmaps_sv.tactile%26w%3D900%26h%3D600%26pitch%3D4.909999999999997%26panoid%3D2KDH2H1qz_8AAAQvxYlBkw%26yaw%3D204.63!7i13312!8i6656?entry=ttu&g_ep=EgoyMDI2MDEyMS4wIKXMDSoKLDEwMDc5MjA3MUgBUAM%3D"
                        target="_blank" class="virtual-tour">
                        <span>Entry Area</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>