<!-- TOP BAR -->
<div class="top-bar">
  <div class="container d-flex flex-column flex-md-row justify-content-between align-items-center">
    <span style="color: #176FC1; font-family: 'Lato', sans-serif;"><img src="assets/home-imgs/Symbol.png"> Mahad Phata,
      Old Mumbai–Pune Hwy, Khopoli,
      Raigad</span>
    <span style="color: #176FC1; font-family: 'Lato', sans-serif;"><img src="assets/home-imgs/Symbol (1).png">
      +917400451254 | <img src="assets/home-imgs/Symbol (2).png"> info&#64;uksresort.com</span>
  </div>
</div>

<!-- NAVBAR -->
<nav class="navbar navbar-expand-lg main-navbar" id="mainHeader">
  <div class="container">
    <a class="navbar-brand" href="#">
      <img src="assets/home-imgs/logo 1.png" alt="Logo">
    </a>

    <button class="navbar-toggler bg-light" type="button" data-bs-toggle="collapse" data-bs-target="#nav">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="nav">
      <ul class="navbar-nav ms-auto align-items-center gap-4">
        <li class="nav-item"><a class="nav-link" href="#">Home</a></li>
        <li class="nav-item"><a class="nav-link" href="/about-us">About</a></li>
        <li class="nav-item"><a class="nav-link" href="/rooms">Rooms</a></li>
        <li class="nav-item"><a class="nav-link" href="/dining">Dining</a></li>
        <li class="nav-item"><a class="nav-link" href="/tariff">Tariff</a></li>
        <!-- <li class="nav-item"><a class="nav-link" href="#">Dining</a></li> -->
        <!-- <li class="nav-item"><a class="nav-link" href="#">Facilities</a></li> -->
        <li class="nav-item"><a class="nav-link" href="/gallery">Gallery</a></li>
        <li class="nav-item"><a class="nav-link" href="/contact">Contact</a></li>
        <li class="nav-item"><a class="nav-link" href="/reservation">Reservation</a></li>
        <li class="nav-item dropdown">
  <a class="nav-link dropdown-toggle"  id="eventsDropdown" role="button">
    Events
  </a>
  <ul class="dropdown-menu">
     <li><a class="dropdown-item" href="/events">All Events</a></li>
    <li><a class="dropdown-item" href="/picnic">One Day Picnic</a></li>
    <li><a class="dropdown-item" href="/conference">Conference</a></li>
    <li><a class="dropdown-item" href="/wedding">Wedding</a></li>
    <li><a class="dropdown-item" href="/sports">Sports</a></li>

  </ul>
</li>

        <li class="nav-item"><a class="nav-link" href="/facilities">Facilities</a></li>
      </ul>

      <a href="https://bookone.io/UK-s-Resort-Khopoli?bookingEngine=true" class="btn btn-light book-btn book-nav">BOOK
        NOW</a>
    </div>
  </div>
</nav>
<section class="hero-gallery">

  <div class="hero-content">

    <div class="hero-text">
      <h1>
         <span class="line-unique-heading"></span>UK’S Resort, Khopoli </h1>
    </div>

  </div>

</section>

<section class="booking-section">
  <div class="container">
    <div class="booking-card">
      <form #bookingForm="ngForm" (ngSubmit)="onBookingSubmit(bookingForm)">
        <div class="row g-3">

          <!-- Name -->
          <div class="col-lg-4 col-md-6">
            <label>Name</label>
            <input
              type="text"
              class="form-control"
              placeholder="Enter your name"
              name="name"
              ngModel
              required
            />
          </div>

          <!-- Email -->
          <div class="col-lg-4 col-md-6">
            <label>Email</label>
            <input
              type="email"
              class="form-control"
              placeholder="Enter your email"
              name="email"
              ngModel
              required
            />
          </div>

          <!-- Mobile -->
          <div class="col-lg-4 col-md-6">
            <label>Mobile</label>
            <input
              type="tel"
              class="form-control"
              placeholder="Enter mobile number"
              name="mobile"
              ngModel
              required
            />
          </div>

          <!-- Arrival -->
          <div class="col-lg-3 col-md-6">
            <label>Arrival</label>

            <div class="date-wrapper">
              <input
                type="text"
                class="form-control date-input"
                placeholder="Pick a date"
                ngbDatepicker
                #fromDp="ngbDatepicker"
                name="fromDate"
                [(ngModel)]="fromDate"
                [minDate]="todayDate"
                (click)="fromDp.toggle()"
                readonly
              />

              <span class="calendar-icon" (click)="fromDp.toggle()">
                <i class="bi bi-calendar-event"></i>
              </span>
            </div>
          </div>

          <!-- Departure -->
          <div class="col-lg-3 col-md-6">
            <label>Departure</label>

            <div class="date-wrapper">
              <input
                type="text"
                class="form-control date-input"
                placeholder="Pick a date"
                ngbDatepicker
                #toDp="ngbDatepicker"
                name="toDate"
                [(ngModel)]="toDate"
                [minDate]="fromDate || todayDate"
                (click)="toDp.toggle()"
                readonly
              />

              <span class="calendar-icon" (click)="toDp.toggle()">
                <i class="bi bi-calendar-event"></i>
              </span>
            </div>
          </div>

          <!-- Adults -->
          <div class="col-lg-3 col-md-6">
            <label>Adults</label>
            <select class="form-select" name="adults" ngModel required>
              <option value="">Select</option>
              <option >1</option>
              <option >2</option>
              <option >3</option>
              <option >4</option>
              <option >5+</option>
              <option >10+</option>
              <option >20+</option>
              <option >50+</option>
              <option >100+</option>
            </select>
          </div>

          <!-- Room Type -->
          <div class="col-lg-3 col-md-6">
            <label>Select Offers</label>
            <select class="form-select" name="roomType" ngModel required>
              <option value="">Select</option>
              <option>Deluxe Room</option>
              <option>Super Deluxe Room</option>
              <option>One Day Picnic</option>
              <option>Conference</option>
              <option>Special Offer</option>
              <option>Monsoon Offer</option>



            </select>
          </div>

          <!-- Message -->
          <div class="col-12">
            <label>Message</label>
            <textarea
              class="form-control"
              rows="3"
              placeholder="Write your message"
              name="message"
              ngModel
            ></textarea>
          </div>

          <!-- Button -->
          <div class="col-12 text-center mt-3">
            <button
              type="submit"
              class="btn booking-btn"
              [disabled]="bookingForm.invalid"
            >
              Send Enquiry
            </button>
          </div>

        </div>
      </form>
    </div>
  </div>
</section>
