<div class="main-header">
    <div class="container">

    <div class="logo">
      <img src="/assets/uniquein-spa-logo.png" alt="logo"/>
    </div>

    <nav class="nav-menu" [class.active]="menuOpen">
      <a href="/">Home</a>
      <a href="#about-us">About Us</a>
      <a href="#services">Services</a>
      <a href="#gallery">Gallery</a>
    </nav>

    <div class="header-actions">
      <a href="tel:9937283177" class="btn btn-call">
        <span class="phone-icon"></span>Spa
      </a>
    </div>

    <div class="menu-toggle"(click)="toggleMenu()">☰</div>

  </div>
</div>