<footer id="footer" class="footer color-dark">

        <div class="awe-color"></div>

        <div class="container">

		<p align="center">
		<span>
		<a href="https://www.facebook.com/sreeniketanam/" target="_blank"><i class="fa fa-facebook-square" aria-hidden="true"></i>&nbsp;</a>
		</span>
		<span>
		<a href="#" target="_blank"><i class="fa fa-twitter-square" aria-hidden="true"></i>&nbsp;</a>
		</span>
		<span>
		<a href="#" target="_blank"><i class="fa fa-google-plus-square" aria-hidden="true"></i>&nbsp;</a>
		</span>
		<span>
		<a href="#" target="_blank"><i class="fa fa-youtube-square" aria-hidden="true"></i>&nbsp;</a>
		</span>
		<span>
		<a href="#" target="_blank"><i class="fa fa-tripadvisor fa_custom fa-4x"></i></a>
		</span>
		</p>
		     <p class="text-center">Sreeniketanam  A Budget Lodge - Beside Sri Raghavendra Swamy Temple , Mantralayam, Andhra Pradesh, India </p>

            <div class="copyright text-center">
			<p>
			<span><a href="default.htm">Home</a>&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;</span>
			<span><a href="rooms.htm">Rooms</a>&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;</span>
			<span><a href="facilities.htm">Facilities</a>&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;</span>
			<span><a href="gallery.htm">Photo Gallery</a>&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;</span>
			<span><a href="contactus.htm">Contact Us</a>&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;</span>
		</p>

            </div>
 <div class="copyright text-center">
			<p>

			<span><a href="delivery.htm">Delivery Policy</a>&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;</span>
			<span><a href="disclaimer.htm">Disclaimer</a>&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;</span>
			<span><a href="privacy.htm">Privacy Policy</a>&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;</span>
			<span><a href="reservation.htm">Reservation and Cancellation / Refund Policy</a>&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;</span>
			<span><a href="terms.htm">Terms &amp; Conditions</a></span>
			</p>

                © All Rights Reserved | Designed by <a href="https://www.eglobe-solutions.com" target="_BLANK" style="text-decoration:none;color:#fff;">Eglobe-Solutions</a><br>

            </div>
        </div>
</footer>
