#footer * {
    color: #ffffff !important;
}
#footer {
    background-color: #004040 !important;
}
.footer {
    position: relative;
    padding: 35px 0;
}
.color-dark {
    background-color: #353535;
    color: #fff;
}
