:root {
  --z-header: 1000;
  --z-toast: 12000;

  --color-danger-50: #fff5f5;
  --color-danger-200: #fecaca;
  --color-danger-600: #dc2626;
  --color-danger-700: #b91c1c;
  --color-danger-800: #991b1b;
  --color-danger-900: #7f1d1d;
}
