.gallery-section {
    padding: 60px 8%;
    background-color: #ffffff;
    text-align: center;
}

.gallery-section h1 {
    font-size: 40px;
    letter-spacing: 2px;
    color: #111;
    margin-bottom: 40px;
    font-weight: 600;
    font-family: "Inter" , "sans-serif";
}

/* GALLERY GRID */
.gallery-images {
  display: grid;
 grid-template-columns: repeat(3, 1fr);
  gap: 16px;
}

.gallery-images img {
  width: 100%;
  border-radius: 8px;
  cursor: pointer;
  transition: transform 0.3s;
}

.gallery-images img:hover {
  transform: scale(1.05);
}

/* LIGHTBOX OVERLAY */
.lightbox {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.95);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 10000;
}

/* IMAGE */
.lightbox-image {
  max-width: 85%;
  max-height: 85%;
  border-radius: 6px;
}

/* CLOSE BUTTON */
.close {
  position: absolute;
  top: 20px;
  right: 30px;
  font-size: 28px;
  color: #fff;
  cursor: pointer;
}

/* NAVIGATION */
.nav {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: none;
  border: none;
  color: white;
  font-size: 40px;
  cursor: pointer;
  padding: 10px;
}

.nav.left {
  left: 30px;
}

.nav.right {
  right: 30px;
}

.overlay {
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.45);
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: opacity 0.4s ease;
}

.overlay span {
  color: #fff;
  font-size: 22px;
  font-weight: 600;
  letter-spacing: 1px;
}

.gallery-item:hover .overlay {
  opacity: 1;
}

/* Mobile */
@media (max-width: 768px) {
    .gallery-images {
        grid-template-columns: repeat(2, 1fr);
    }
}

