<div class="gallery-section" id="gallery">
  <h1>Our Gallery</h1>

  <div class="gallery-images">
    @for (img of images; track img; let i = $index) {
      <img [src]="img" (click)="openSlider(i)" />

       <div class="overlay">
          <span>Relaxing Spa</span>
        </div>
    }
  </div>
</div>

@if (isOpen) {
  <div class="lightbox" (click)="close()">

    <span class="close" (click)="close()">✕</span>

    <button class="nav left" (click)="prev($event)">❮</button>

    <img
      class="lightbox-image"
      [src]="images[currentIndex]"
      (click)="$event.stopPropagation()"
    />

    <button class="nav right" (click)="next($event)">❯</button>

  </div>
}
