<!-- Footer Section -->
<footer class="footer-section">
  <div class="footer-container">

    <!-- Left Section -->
    <div class="footer-left">
      <img src="assets/home-imgs/logo 1.png" class="footer-logo" alt="Logo">

      <!-- <div class="footer-social">
        <span><i class="fa-brands fa-youtube"></i></span>
        <span><i class="fa-solid fa-x"></i></span>
        <span><i class="fa-brands fa-telegram"></i></span>
      </div> -->

      <div class="footer-social">
       <a href="https://www.facebook.com/UKsResort/?ref=hl" target="_blank" rel="noopener noreferrer">
          <span><i class="fa-brands fa-facebook"></i></span>
        </a>

        <a href="https://x.com/UKsResort" target="_blank" rel="noopener noreferrer">
          <span><i class="fa-solid fa-x"></i></span>
        </a>

       <a href="https://www.instagram.com/uksresortkhopoli" target="_blank" rel="noopener noreferrer">
         <span><i class="fa-brands fa-instagram"></i></span>
        </a>

        <a href="https://www.linkedin.com/company/uk-s-resort-khopoli/" target="_blank" rel="noopener noreferrer">
         <span><i class="fa-brands fa-linkedin"></i></span>
        </a>

        <a href="https://www.youtube.com/@UKsResort_khopoli" target="_blank" rel="noopener noreferrer">
         <span><i class="fa-brands fa-youtube"></i></span>
        </a>
      </div>

      <p class="footer-copy">
        © 2024 UK’s Resort. All rights reserved
        Designed and Developed By CredenceSoft, Powered By BookOne
      </p>
    </div>

    <!-- Quick Links -->
    <div class="footer-menu">
      <h4>Quick Links</h4>
      <a href="/about-us">About</a>
      <a href="/rooms">Rooms</a>
      <a href="/gallery">Gallery</a>
      <a href="/contact">Contact</a>
      <a href="/events">Events</a>
      <a href="/blogs">Blogs</a>
      <a href="/terms-condition">Terms & Conditions</a>
      <a href="/policy">Privacy Policy</a>
    </div>

    <!-- TripAdvisor Section -->
    <div class="footer-tripadvisor">

      <div class="tripadvisor-card">
        <p class="certificate-title">Certificate of Excellence 2016</p>
        <a href="https://www.tripadvisor.in/Hotel_Review-g1568568-d4609539-Reviews-UK_s_Resort_Khopoli-Khopoli_Raigad_District_Maharashtra.html"
          class="review-link">Read Reviews</a>

        <div class="tripadvisor-logo">
          <span class="logo-text">Tripadvisor</span>
        </div>
      </div>

      <div class="rating-wrapper">
        <div class="tripadvisor-icon"><img src="assets/home-imgs/logo.png" height="30px" /></div>
        <div class="rating-dots">
          <span class="dot active"></span>
          <span class="dot active"></span>
          <span class="dot active"></span>
          <span class="dot active"></span>
          <span class="dot"></span>
        </div>
      </div>

    </div>

    <!-- Right Contact -->
    <div class="footer-contact">
      <h4>GET CONNECTED</h4>
      <p>
        <strong>Mobile:</strong> <a href="tel:+919822012343" style="text-decoration: none; color: inherit;">+91 98220
          12343</a><br>
        <strong>Mobile:</strong> <a href="tel:+918779814559" style="text-decoration: none; color: inherit;">+91 87798
          14559</a><br>
        <strong>Mobile:</strong> <a href="tel:+917400451254" style="text-decoration: none; color: inherit;">+91 74004
          51254</a>
      </p>

      <p>Email : <span class="email-link">info&#64;uksresort.com</span></p>

      <p>
        Address: Ashtavinayak Mahad Phata,<br>
        Old Mumbai - Pune Highway (NH-4),<br>
        Khopoli, Dist. Raigad - 410203,<br>
        Maharashtra, India.
      </p>
    </div>

  </div>
</footer>