/* Footer section */
.footer-section {
  background: #0a0e12;
  padding: 70px 40px;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  color: #b8b8b8;
  font-family:  "GFS Didot", serif
}

/* Layout */
.footer-container {
  max-width: 1300px;
  margin: auto;
  display: flex;
  gap: 60px;
  flex-wrap: wrap;
}

/* Common columns */
.footer-left,
.footer-menu,
.footer-tripadvisor,
.footer-contact {
  flex: 1;
  min-width: 240px;
}

/* Left Section */
.footer-left {
  text-align: left;
}

.footer-logo {
  width: 120px;
  margin-bottom: 25px;
}

.footer-social {
  margin-bottom: 20px;
}

.footer-social span {
  display: inline-flex;
  width: 38px;
  height: 38px;
  border-radius: 50%;
  background: #3a3a3a;
  justify-content: center;
  align-items: center;
  margin-right: 8px;
  font-size: 16px;
  color: white;
  cursor: pointer;
  transition: 0.3s;
}

.footer-social span:hover {
  background: #ffffff22;
}

.footer-copy {
  font-size: 14px;
  margin-top: 10px;
  font-family: "Source Sans Pro", sans-serif;
  color: white;
}

/* Menu */
.footer-menu {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.footer-menu h4 {
  color: #ffffff;
  margin-bottom: 10px;
  font-family: "GFS Didot", serif;
}

.footer-menu a {
  color: #b8b8b8;
  text-decoration: none;
  font-size: 16px;
  transition: 0.3s;
  font-family: "Source Sans Pro", sans-serif;
}

.footer-menu a:hover {
  color: #ffffff;
}

/* TripAdvisor */
.footer-tripadvisor {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.tripadvisor-card {
  background: #ffffff;
  color: #000;
  border: 2px solid #2ecc71;
  padding: 18px;
  width: 240px;
  text-align: center;
}

.certificate-title {
  font-size: 14px;
  font-weight: 600;
  font-family: "GFS Didot", serif;
}

.review-link {
  font-size: 13px;
  text-decoration: underline;
  color: #000;
  font-family: "Source Sans Pro", sans-serif;
}

.logo-text{
  font-family: "Source Sans Pro", sans-serif;
}

.tripadvisor-logo {
  margin-top: 15px;
  background: #2ecc71;
  border-radius: 50% 50% 0 0;
  padding: 25px 10px;
}

.rating-wrapper {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-top: 12px;
}

.tripadvisor-icon {
  background: #fff;
  width: 34px;
  height: 34px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.rating-dots {
  background: #fff;
  padding: 6px 10px;
  border-radius: 6px;
  display: flex;
  gap: 6px;
}

.dot {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: #ccc;
}

.dot.active {
  background: #2ecc71;
}

/* Contact */
.footer-contact h4 {
  color: #ffffff;
  font-size: 18px;
  margin-bottom: 15px;
  font-family: "GFS Didot", serif;
}

.footer-contact p {
  font-size: 15px;
  line-height: 1.6;
  font-family: "Source Sans Pro", sans-serif;
  color: white;
}

/* Responsive */
@media (max-width: 992px) {
  .footer-container {
    justify-content: center;
    text-align: center;
  }

  .footer-left,
  .footer-menu,
  .footer-tripadvisor,
  .footer-contact {
    text-align: center;
  }
}

@media (max-width: 768px) {
  .footer-section {
    padding: 50px 20px;
  }
}
