<footer class="footer">
  <div class="footer-container">
    <div class="footer-section">
      <h3>Address</h3>
      <p>Ajmer Road Sodala Mittal Colony Jaipur Rajasthan India 302006</p>
    </div>

    <div class="footer-section">
      <h4>Links</h4>
      <ul>
        <li><a href="#home">Home</a></li>
        <li><a href="#about-us">About Us</a></li>
        <li><a href="#services">Services</a></li>
         <li><a href="#gallery">Gallery</a></li>
      </ul>
    </div>

    <div class="footer-section">
      <h4>Contact</h4>
      <p>Email: uniqueallinoespa&#64;gmail.com</p>
      <p>Phone: 8058020708</p>
    </div>
  </div>

  <div class="footer-bottom">
    <p>© 2025 YourApp. All rights reserved.</p>
  </div>
</footer>
