.footer {
  background-color: #1e1e1e;
  color: #ffffff;
  padding: 40px 0 20px;
  width: 100%;
}

.footer-container {
  max-width: 1200px;
  margin: auto;
  padding: 0 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 30px;
}

.footer-section {
  flex: 1 1 250px;
}

.footer-section h3,
.footer-section h4 {
  margin-bottom: 12px;
  font-size: 21px;
  font-weight: 600;
  font-family: "Inter" , "san-serif";
  text-align: start;
}

.footer-section p {
  font-size: 14px;
  color: #cccccc;
  line-height: 1.6;
  font-weight: 600;
  font-family: "Inter" , "sans-serif";
  text-align: start;
}

.footer-section ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.footer-section ul li {
  margin-bottom: 8px;
  text-align: start;
}

.footer-section ul li a {
  color: #cccccc;
  text-decoration: none;
  font-size: 14px;
  transition: color 0.3s ease;
  font-weight: 600;
  font-family: "Inter" , "sans-serif";
}

.footer-section ul li a:hover {
  color: #ffffff;
  font-family: "Inter" , "sans-serif";
}

/* Bottom Section */
.footer-bottom {
  margin-top: 30px;
  padding-top: 15px;
  border-top: 1px solid #333;
  text-align: center;
  font-size: 16px;
  color: #aaaaaa;
  font-weight: 600;
  font-family: "Inter" , "sans-serif";
}

.footer-section p:hover{
  color: #d4af37;
  font-family: "Inter" , 'sans-serif';
}

.footer-section ul li a:hover{
  color: #d4af37;
  font-family: "Inter" , 'sans-serif';
}

@media (max-width: 768px) {
  .footer-container {
    justify-content: center;
    text-align: center;
  }

  .footer-section {
    flex: 1 1 100%;
  }
}

@media (max-width: 480px) {
  .footer {
    padding: 30px 0 15px;
  }

  .footer-section h3,
  .footer-section h4 {
    font-size: 16px;
  }

  .footer-section p,
  .footer-section ul li a {
    font-size: 13px;
  }

  .footer-bottom {
    font-size: 12px;
  }
}
