<div class="top-bar">
    <div class="container d-flex flex-column flex-md-row justify-content-between align-items-center">
        <span style="color: #176FC1; font-family: 'Lato', sans-serif;"><img src="assets/home-imgs/Symbol.png"> Mahad
            Phata,
            Old Mumbai–Pune Hwy, Khopoli,
            Raigad</span>
        <span style="color: #176FC1; font-family: 'Lato', sans-serif;"><img src="assets/home-imgs/Symbol (1).png">
            +917400451254 | <img src="assets/home-imgs/Symbol (2).png"> info&#64;uksresort.com</span>
    </div>
</div>

<nav class="navbar navbar-expand-lg main-navbar" id="mainHeader">
    <div class="container">
        <a class="navbar-brand" href="#">
            <img src="assets/home-imgs/logo 1.png" alt="Logo">
        </a>

        <button class="navbar-toggler bg-light" type="button" data-bs-toggle="collapse" data-bs-target="#nav">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="nav">
            <ul class="navbar-nav ms-auto align-items-center gap-4">
                <li class="nav-item"><a class="nav-link" href="#">Home</a></li>
                <li class="nav-item"><a class="nav-link" href="/about-us">About</a></li>
                <li class="nav-item"><a class="nav-link" href="/rooms">Rooms</a></li>
                <li class="nav-item"><a class="nav-link" href="/dining">Dining</a></li>
                <li class="nav-item"><a class="nav-link" href="/tariff">Tariff</a></li>
                <!-- <li class="nav-item"><a class="nav-link" href="#">Facilities</a></li> -->
                <li class="nav-item"><a class="nav-link" href="/gallery">Gallery</a></li>
                <li class="nav-item"><a class="nav-link" href="/contact">Contact</a></li>
                <li class="nav-item"><a class="nav-link" href="/reservation">Reservation</a></li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="/events" id="eventsDropdown" role="button">
                        Events
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="/picnic">One Day Picnic</a></li>
                        <li><a class="dropdown-item" href="/conference">Conference</a></li>
                        <li><a class="dropdown-item" href="/wedding">Wedding</a></li>
                        <li><a class="dropdown-item" href="/sports">Sports</a></li>

                    </ul>
                </li>

                <li class="nav-item"><a class="nav-link" href="/facilities">Facilities</a></li>
            </ul>

            <a href="https://bookone.io/UK-s-Resort-Khopoli?bookingEngine=true"
                class="btn btn-light book-btn book-nav">BOOK
                NOW</a>
        </div>
    </div>
</nav>


<section class="hero uks-hero-image">
    <div class="hero-content">
    </div>
</section>

<section class="page-title-section py-4">
    <div class="text-center">
        <h1>
            Tariff
        </h1>
    </div>
</section>


<div class="tariff-wrapper">
     <p>Tariff as follows (Taxes as per Govt Regulations)</p>
      <p>Check in Time: 12:00 Noon Check Out Time: 11:00 AM</p>
    <div class="tariff-section">
        <table>
            <thead>
                <tr>
                    <th colspan="2" class="main-header">Tariff for Double Occupancy</th>
                </tr>
            </thead>
            <tbody>
                 <tr class="sub-header">
                    <td>Room Type</td>
                    <td>CP Plan (Room Rate + Breakfast)</td>
                </tr>
                <tr>
                    <td class="type-col">Deluxe</td>
                    <td class="price-col">₹ 3950 + 12% GST on Double Occupancy with Breakfast</td>
                </tr>
                <tr>
                    <td class="type-col">Super Deluxe</td>
                    <td class="price-col">₹ 4950 + 12% GST on Double Occupancy with Breakfast</td>
                </tr>
                <tr>
                    <td class="type-col">Extra Person (Above 5 years)</td>
                    <td class="price-col">₹ 1400 + 12% GST with Extra Mattress & Breakfast</td>
                </tr>
            </tbody>
        </table>
    </div>

    <div style="margin: 40px 0;"></div> <div class="tariff-section">
        <table>
            <thead>
                <tr>
                    <th colspan="2" class="main-header">
                        Package for Over Night Picnic for Groups (MINIMUM 20 PAX)
                        <span class="header-subtext">(Per Person Per Night with all Meals)</span>
                        <span class="header-subtext">Includes 01 Lunch, 01 Hi Tea, 01 Dinner & 01 Breakfast.</span>
                    </th>
                </tr>
            </thead>
            <tbody>
                         <tr class="sub-header">
                    <td>Occupancy</td>
                    <td>All Days</td>
                </tr>
                <tr>
                    <td class="type-col">Double Occupancy</td>
                    <td class="price-col">Rs. 2750 + 18% GST</td>
                </tr>
                <tr>
                    <td class="type-col">Triple Occupancy</td>
                    <td class="price-col">Rs. 2550 + 18% GST</td>
                </tr>
                <tr>
                    <td class="type-col">Quadruple Occupancy</td>
                    <td class="price-col">Rs. 2350 + 18% GST</td>
                </tr>
            </tbody>
        </table>
    </div>

    <div class="tariff-text-section">
        <h2>Tariff for One Day Picnic</h2>
        <h3>TARIFF DAY PICNIC FOR GROUPS (MINIMUM 20 PAX) RATE ₹ 1099 PER PERSON + 18 % GST Rates as follows Per Person :</h3>
        <p>(Package Per Person Per Night include 01 Lunch,01 Hi Tea,01 Dinner & 01 Break Fast,Entry to Big Water Park,Rain Dance,indoor games,Outdoor Games like cricket, Football & Kids Play Park)</p>

        <p>BREAKFAST, IDLI SAMBHAR CHUTNEY, POHA, BREAD OMLETT, TEA+COFFIE, LUNCH, CHICKEN ROGAN JOSH, VEG KADAI, MIX VEG DRY, DAL FRY, JEERA RICE, ROTI, NAAN, PARATHA, SALAD, PAPAD, PICKLE, GULAB JAMUN, HI TEA, TEA+COFFIE WITH VEG SANDWICH. Any Dish apart from this will be charged extra.</p>
    </div>
</div>

<section>

</section>