<div class="top-bar">
    <div class="container d-flex flex-column flex-md-row justify-content-between align-items-center">
        <span style="color: #176FC1;"><img src="assets/home-imgs/Symbol.png"> Mahad Phata, Old Mumbai–Pune Hwy, Khopoli,
            Raigad</span>
        <span style="color: #176FC1;"><img src="assets/home-imgs/Symbol (1).png"> +91 74004 51254 | <img
                src="assets/home-imgs/Symbol (2).png"> info&#64;uksresort.com</span>
    </div>
</div>

<nav class="navbar navbar-expand-lg main-navbar" id="mainHeader">
    <div class="container">
        <a class="navbar-brand" href="#">
            <img src="assets/home-imgs/logo 1.png" alt="Logo">
        </a>

        <button class="navbar-toggler bg-light" type="button" data-bs-toggle="collapse" data-bs-target="#nav">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="nav">
            <ul class="navbar-nav ms-auto align-items-center gap-4">
                <li class="nav-item"><a class="nav-link" href="#">Home</a></li>
                <li class="nav-item"><a class="nav-link" href="/about-us">About</a></li>
                <li class="nav-item"><a class="nav-link" href="/rooms">Rooms</a></li>
                <li class="nav-item"><a class="nav-link" href="/gallery">Gallery</a></li>
                <li class="nav-item"><a class="nav-link" href="/contact">Contact</a></li>
                <li class="nav-item"><a class="nav-link" href="/events">Events</a></li>
                <li class="nav-item"><a class="nav-link" href="/facilities">Facilities</a></li>
            </ul>

            <a href="https://bookone.io/UK-s-Resort-Khopoli?bookingEngine=true"
                class="btn btn-light book-btn book-nav">BOOK
                NOW</a>
        </div>
    </div>
</nav>

<section class="hero uks-hero-image">
  <div class="hero-content">
  </div>
</section>

<div class="page-container">
        <section class="content-box">
            <p>
                <strong>UK's Resort®</strong> respects the privacy of all our guests, and we are committed to protecting it. 
                To best serve you throughout this Web site, you may be asked to provide a variety of information, 
                such as name, mailing address, telephone number, email address, credit card information, etc. 
                This information will allow us to provide a personalized experience for each visitor to our Web site.
            </p>
            <p>
                This Web site does not collect, save or store any personal information from visitors that simply browse 
                this Web site, unless you voluntarily and intentionally provide it to us. We do not collect personal 
                information without your knowledge or consent. Any personal information that is requested on our Web site 
                is necessary in order to process your reservation.
            </p>
        </section>   
</div>