<div class="card-soft p-4 container">

  <h5 class="section-title mb-4">Pick-Up & Drop-Off</h5>

  <div class="row g-4 gap-changes">

    <!-- Pickup -->
    <div class="col-md-5">
      <div class="input-group input-orange-box">
        <input class="form-control" [(ngModel)]="pickup" (input)="filterPickup(pickup)" placeholder="Enter Pick-Up">
        <span class="input-group-text icon-soft backgrond-span"><i class="fa-solid fa-location-crosshairs icon-specific"></i></span>
              <ul class="autocomplete-box" *ngIf="pickupSuggestions.length > 0">
        <li *ngFor="let s of pickupSuggestions" (click)="selectPickupLocation(s)">
         <i class="bi bi-geo-alt-fill icon-specific"></i> &nbsp; {{ s }}
        </li>
      </ul>
      </div>
    </div>

    <!-- Drop-off -->
    <div class="col-md-5">
      <div class="input-group input-orange-box">
        <input class="form-control" [(ngModel)]="dropoff" (input)="filterDrop(dropoff)"
        [disabled]="!pickup" placeholder="Enter Drop-Off">
        <span class="input-group-text icon-soft backgrond-span"><i class="fa-solid fa-location-crosshairs icon-specific"></i></span>
        <ul class="autocomplete-box" *ngIf="dropSuggestions.length > 0">
        <li *ngFor="let s of dropSuggestions" (click)="selectDropLocation(s)">
         <i class="bi bi-geo-alt-fill icon-specific"></i> &nbsp; {{ s }}
        </li>
      </ul>
      </div>
    </div>

    <!-- Date -->
<div class="col-md-5">
  <div class="input-group input-white-box">
    <input
      type="date"
      #dateInput
      class="form-control"
      [(ngModel)]="date"
      (change)="onDateChange()"
    >
    <span class="input-group-text icon-soft" (click)="dateInput.showPicker()">
      <i class="fa-solid fa-calendar"></i>
    </span>
  </div>
</div>


    <!-- Time -->
    <div class="col-md-5">
  <div class="input-group input-white-box">
      <input
    type="text"
    class="form-control"
    placeholder="Select Time"
    [(ngModel)]="displayTime"
    readonly
    (click)="toggleTimeList()"
  >

  <span class="input-group-text icon-soft" (click)="toggleTimeList()">
    <i class="fa-solid fa-clock"></i>
  </span>

  <ul class="time-list" *ngIf="showTimes">
    <li *ngFor="let t of timeOptions" (click)="selectTime(t)">
      {{ t }}
    </li>
  </ul>
  </div>
</div>


    <!-- Round trip -->
    <div class="col-12 d-flex justify-content-between align-items-center mt-2 margin-changes border-changes display-manage">
      <div class="label-small text-muted">Want to make this a round-trip?</div>

      <div class="trip-toggle">
        <button [class.active]="tripType==='one-way'" (click)="tripType='one-way'">One-Way</button>
        <button [class.active]="tripType==='return'" (click)="tripType='return'">Return</button>
      </div>
    </div>

    <!-- Next Button -->
    <div class="col-12 d-flex justify-content-end mt-3">
      <button class="btn-next" (click)="saveAndNext()">
        Next: Passenger Details <i class="bi bi-arrow-right"></i>
      </button>
    </div>

  </div>

</div>
