@use '../../styles/variables' as v;

.eyebrow {
  display: inline-flex;
  align-items: center;
  gap: v.$space-sm;

  &::before {
    content: '';
    width: 24px;
    height: 2px;
    border-radius: v.$radius-full;
    background-color: v.$color-accent;
  }
}
