<!-- TOP BAR -->
<div class="top-bar">
  <div class="container d-flex flex-column flex-md-row justify-content-between align-items-center">
    <span style="color: #176FC1; font-family: 'Lato', sans-serif;"><img src="assets/home-imgs/Symbol.png"> Mahad Phata,
      Old Mumbai–Pune Hwy, Khopoli,
      Raigad</span>
    <span style="color: #176FC1; font-family: 'Lato', sans-serif;"><img src="assets/home-imgs/Symbol (1).png">
      +917400451254 | <img src="assets/home-imgs/Symbol (2).png"> info&#64;uksresort.com</span>
  </div>
</div>

<!-- NAVBAR -->
<nav class="navbar navbar-expand-lg main-navbar" id="mainHeader">
  <div class="container">
    <a class="navbar-brand" href="#">
      <img src="assets/home-imgs/logo 1.png" alt="Logo">
    </a>

    <button class="navbar-toggler bg-light" type="button" data-bs-toggle="collapse" data-bs-target="#nav">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="nav">
      <ul class="navbar-nav ms-auto align-items-center gap-4">
        <li class="nav-item"><a class="nav-link" href="#">Home</a></li>
        <li class="nav-item"><a class="nav-link" href="/about-us">About</a></li>
        <li class="nav-item"><a class="nav-link" href="/rooms">Rooms</a></li>
        <li class="nav-item"><a class="nav-link" href="/dining">Dining</a></li>
        <li class="nav-item"><a class="nav-link" href="/tariff">Tariff</a></li>
        <!-- <li class="nav-item"><a class="nav-link" href="#">Dining</a></li> -->
        <!-- <li class="nav-item"><a class="nav-link" href="#">Facilities</a></li> -->
        <li class="nav-item"><a class="nav-link" href="/gallery">Gallery</a></li>
        <li class="nav-item"><a class="nav-link" href="/contact">Contact</a></li>
        <li class="nav-item dropdown">
  <a class="nav-link dropdown-toggle"  id="eventsDropdown" role="button">
    Events
  </a>
  <ul class="dropdown-menu">
     <li><a class="dropdown-item" href="/events">All Events</a></li>
    <li><a class="dropdown-item" href="/picnic">One Day Picnic</a></li>
    <li><a class="dropdown-item" href="/conference">Conference</a></li>
    <li><a class="dropdown-item" href="/wedding">Wedding</a></li>
    <li><a class="dropdown-item" href="/sports">Sports</a></li>

  </ul>
</li>

        <li class="nav-item"><a class="nav-link" href="/facilities">Facilities</a></li>
      </ul>

      <a href="https://bookone.io/UK-s-Resort-Khopoli?bookingEngine=true" class="btn btn-light book-btn book-nav">BOOK
        NOW</a>
    </div>
  </div>
</nav>
<section class="hero-gallery">

  <div class="hero-content">

    <div class="hero-text">
      <h1>
         <span class="line-unique-heading"></span>UK’S Resort, Khopoli </h1>
    </div>

  </div>

</section>

<div  class="text-center" style="font-family: 'Bree Serif', sans-serif;padding-top: 1.5rem ;
"><h1> Wedding </h1></div>
<section class="picnic-wrapper">
  <div class="picnic-container">

    <!-- Image Section -->
    <div class="picnic-image">
  <div class="picnic-carousel">

      <div class="image-wrapper">
                <div class="slider-track">
                    <img src="assets/home-imgs/picnic7.jpg" alt="Picnic">
                    <img src="assets/home-imgs/picnic8.jpg" alt="Swimming Pool">
                    <img src="assets/home-imgs/picnic9.jpg" alt="Kids Area">
                     <img src="assets/home-imgs/picnic10.jpg" alt="Picnic">
                    <img src="assets/home-imgs/picnic7.jpg" alt="Swimming Pool">
                    <img src="assets/home-imgs/picnic8.jpg" alt="Kids Area">
                     <img src="assets/home-imgs/picnic9.jpg" alt="Picnic">


                </div>
            </div>

  </div>
</div>

    <!-- Content Section -->
    <div class="picnic-content">


      <p class="picnic-text">
        Marriage are made in heaven but created on earth and certainly knows how to make them glitter with splendor. From the moment you decide to celebrate your big day with us, we leave no stone unturned to make the occasion an unforgettable one for years to come. Be it traditional or a modern themed wedding, our wedding team understands what you need in a wedding.
      </p>

      <p class="picnic-text">
       With warm hospitality and years of experience, our wedding team ensures the wedding arrangement right from small ceremonies, mehndi, sangeet program and extravagant reception runs out smoothly as planned. In a wedding, food is an integral part with a variety of menu option we ensures the wedding guest enjoy the food to the fullest
      </p>
      <p class="picnic-text">
        If sky is the limit that is we can aim by offering you the best setups for the dream day. At UK's Resort we offer multiple outdoor venue options with spectacular views for your dream wedding.

      </p>
      <p class="picnic-text">
        Our modern accommodation and Exquisite lawns, Pool side and water park areas gives the perfect setting to make your destination wedding a memorable one.
      </p>
    </div>

  </div>
</section>
