 <section class="about-us-section" id="about-us">
  <div class="about-us">
    <div class="about-us-text animate-on-scroll" #animateMe>
      <h4 class="about-us-title">About Us</h4>
      <p class="about-us-paragraph">
        Unique All In One Spa appears to be a common descriptive term for a range of services 
        rather than a single specific business name. Information is available for a 
        highly-rated Unique Spa in Bapuji Nagar, Bhubaneswar, which offers a variety 
        of massages and is open 24 hours. This establishment, founded in 2012, 
        has a strong reputation for its range of body care and rejuvenating massage services.
      </p>
    </div>

    <div class="about-us-image animate-on-scroll" #animateMe>
      <img src="assets/pic2.jpg" alt="Spa Image">
    </div>
  </div>
</section>
