<section class="shivsewa-hero-section">
     <p-carousel
  [value]="bannerImages"
  [numVisible]="1"
  [numScroll]="1"
  [circular]="true"
  [autoplayInterval]="6000"
  [showIndicators]="false"
  [showNavigators]="false"
  styleClass="shivsewa-hero-bg hero-carousel"
>
  <ng-template pTemplate="item" let-img>
    <div class="hero-slide">
      <img [src]="img" class="shivsewa-hero-image">
    </div>
  </ng-template>
</p-carousel>


      <div class="shivsewa-hero-container">

        <h1 class="shivsewa-hero-heading">
          The City Never Stops,<br>
          The Service Never Fails.
        </h1>
        <form class="shivsewa-booking-panel" (submit)="bookNow($event)">

       <div class="quick-ride-section">
  <div class="ride-inputs-wrapper">

    <!-- Pickup -->
    <div class="ride-input-group pickup-group" #pickupGroup style="position: relative">
      <div class="location-indicator location-indicator-empty"></div>

      <input
        type="text"
        placeholder="Enter Pickup Point"
        [(ngModel)]="pickupLocation"
        (input)="filterPickup(pickupLocation)"
        name="quickPickup"
        class="ride-input"
      >

      <div class="location-button location-button-gps" (click)="useCurrentLocation()">
        <i class="fa-solid fa-location-crosshairs icon-specific"></i>
      </div>

      <!-- Pickup Suggestions -->
      <ul class="autocomplete-box" *ngIf="pickupSuggestions.length > 0">
        <li *ngFor="let s of pickupSuggestions" (click)="selectPickupLocation(s)">
         <i class="bi bi-geo-alt-fill icon-specific"></i> &nbsp; {{ s }}
        </li>
      </ul>
    </div>

    <!-- Connector -->
    <div class="connector-line-wrapper">
      <div class="connector-line"></div>
    </div>

    <!-- Drop -->
    <div class="ride-input-group drop-group" #dropGroup style="position: relative">
      <div class="location-indicator location-indicator-filled"></div>

      <input
        type="text"
        placeholder="Enter Destination"
        [(ngModel)]="dropLocation"
        (input)="filterDrop(dropLocation)"
        [disabled]="!pickupLocation"
        name="quickDrop"
        class="ride-input"
      >

      <div class="location-icon">
        <i class="fa-solid fa-map-pin icon-specific"></i>
      </div>

      <!-- Drop Suggestions -->
      <ul class="autocomplete-box" *ngIf="dropSuggestions.length > 0">
        <li *ngFor="let s of dropSuggestions" (click)="selectDropLocation(s)">
         <i class="bi bi-geo-alt-fill icon-specific"></i> &nbsp; {{ s }}
        </li>
      </ul>
    </div>

  </div>

  <div class="quick-ride-button-wrapper">
    <button type="button" [disabled]="!pickupLocation && !dropLocation" (click)="bookNow($event)" class="request-ride-button">
      Request Ride
    </button>
  </div>
</div>




        </form>
      </div>
    </section>
