<section class="services animate-section" id="services">
  <h2 class="section-title animate-on-scroll" #videoSection>Our Service</h2>

  <div class="service-scroll">
    <!-- <div class="service-container">

      <div class="service-card animate-on-scroll" #videoSection>
        <img src="assets/dry-masaage.jpg" alt="Dry Massage">
        <div class="service-content">
          <h3>Dry Massage</h3>
          <p>Targets muscle knots and chronic pain with firm, focused pressure.</p>
          <ul>
            <li class="price-item" [class.active]="selectedPrice[0] === '30 minutes : ₹1000/-'"
              (click)="selectPrice('0,30 minutes : ₹1000/-')">
              30 minutes : ₹1000/- only
            </li>
            <li class="price-item" [class.active]="selectedPrice[0] === '60 minutes : ₹1800/-'"
              (click)="selectPrice('0,60 minutes : ₹1800/-')">
              60 minutes : ₹1800/- only
            </li>
            <li class="price-item" [class.active]="selectedPrice[0] === '90 minutes : ₹2300/-'"
              (click)="selectPrice('0,90 minutes : ₹2300/-')">
              90 minutes : ₹2300/- only
            </li>
            <li class="price-item" [class.active]="selectedPrice[0] === '2 Hours : ₹2500/-'"
              (click)="selectPrice('0,2 Hours : ₹2500/-')">
              2 Hours : ₹2500/- only
            </li>
          </ul>
        </div>

        <button class="view-more-button" (click)="bookService()">
          <div class="button-text-wrapper">
            <span class="hover-text hover-text-front">Book Now</span>
          </div>
        </button>
      </div>

      <div class="service-card animate-on-scroll" #videoSection>
        <img src="assets/Oil Masaage.jpg" alt="Oil Massage">
        <div class="service-content">
          <h3>Oil Massage</h3>
          <p>Targets muscle knots and chronic pain with firm, focused pressure.</p>
          <ul>
            <li class="price-item" [class.active]="selectedPrice[1] === '60 minutes : ₹3000/-'"
              (click)="selectPrice('1,30 minutes : ₹3000/-')">
              60 minutes : ₹3000/- only
            </li>
            <li class="price-item" [class.active]="selectedPrice[1] === '75 minutes : ₹3500/-'"
              (click)="selectPrice('1,75 minutes : ₹3500/-')">
              75 minutes : ₹3500/- only
            </li>
            <li class="price-item" [class.active]="selectedPrice[1] === '90 minutes : ₹4000/-'"
              (click)="selectPrice('1,90 minutes : ₹4000/-')">
              90 minutes : ₹4000/- only
            </li>
            <li class="price-item" [class.active]="selectedPrice[1] === '2 Hours : ₹4000/-'"
              (click)="selectPrice('1,2 Hours : ₹4000/-')">
              2 Hours : ₹4000/- only
            </li>
          </ul>
        </div>
        <button class="view-more-button" (click)="bookService()">
          <div class="button-text-wrapper">
            <span class="hover-text hover-text-front">Book Now</span>
          </div>
        </button>
      </div>

      <div class="service-card animate-on-scroll" #videoSection>
        <img src="assets/Oil Masaage.jpg" alt="Oil Massage">
        <div class="service-content">
          <h3>Oil Massage</h3>
          <p>Targets muscle knots and chronic pain with firm, focused pressure.</p>
          <ul>
            <li class="price-item" [class.active]="selectedPrice[2] === '60 minutes : ₹3000/-'"
              (click)="selectPrice('2,60 minutes : ₹3000/-')">
              60 minutes : ₹3000/- only
            </li>
            <li class="price-item" [class.active]="selectedPrice[2] === '75 minutes : ₹3500/-'"
              (click)="selectPrice('2,75 minutes : ₹3500/-')">
              75 minutes : ₹3500/- only
            </li>
            <li class="price-item" [class.active]="selectedPrice[2] === '90 minutes : ₹2300/-'"
              (click)="selectPrice('2,90 minutes : ₹2300/-')">
              90 minutes : ₹2300/- only
            </li>
            <li class="price-item" [class.active]="selectedPrice[2] === '2 Hours : ₹4000/-'"
              (click)="selectPrice('2,2 Hours : ₹4000/-')">
              2 Hours : ₹4000/- only
            </li>
          </ul>
        </div>
        <button class="view-more-button" (click)="bookService()">
          <div class="button-text-wrapper">
            <span class="hover-text hover-text-front">Book Now</span>
          </div>
        </button>
      </div>

      <div class="service-card animate-on-scroll" #videoSection>
        <img src="assets/Oil Masaage.jpg" alt="Oil Massage">
        <div class="service-content">
          <h3>Oil Massage</h3>
          <p>Targets muscle knots and chronic pain with firm, focused pressure.</p>
          <ul>
            <li class="price-item" [class.active]="selectedPrice[3] === '60 minutes : ₹3000/-'"
              (click)="selectPrice('3,60 minutes : ₹3000/-')">
              60 minutes : ₹3000/- only
            </li>
            <li class="price-item" [class.active]="selectedPrice[3] === '75 minutes : ₹3500/-'"
              (click)="selectPrice('3,75 minutes : ₹3500/-')">
              75 minutes : ₹3500/- only
            </li>
            <li class="price-item" [class.active]="selectedPrice[3] === '90 minutes : ₹4000/-'"
              (click)="selectPrice('3,90 minutes : ₹4000/-')">
              90 minutes : ₹4000/- only
            </li>
            <li class="price-item" [class.active]="selectedPrice[3] === '2 Hours : ₹4000/-'"
              (click)="selectPrice('3,2 Hours : ₹4000/-')">
              2 Hours : ₹4000/- only
            </li>
          </ul>
        </div>
        <button class="view-more-button" (click)="bookService()">
          <div class="button-text-wrapper">
            <span class="hover-text hover-text-front">Book Now</span>
          </div>
        </button>
      </div>

      <div class="service-card animate-on-scroll" #videoSection>
        <img src="assets/Oil Masaage.jpg" alt="Swedish Masaage">
        <div class="service-content">
          <h3>Swedish Masaage</h3>
          <p>Targets muscle knots and chronic pain with firm, focused pressure.</p>
          <ul>
            <li class="price-item" [class.active]="selectedPrice[4] === '60 minutes : ₹3000/-'"
              (click)="selectPrice('4,60 minutes : ₹3000/-')">
              60 minutes : ₹3000/- only
            </li>
            <li class="price-item" [class.active]="selectedPrice[4] === '75 minutes : ₹3500/-'"
              (click)="selectPrice('4,75 minutes : ₹3500/-')">
              75 minutes : ₹3500/- only
            </li>
            <li class="price-item" [class.active]="selectedPrice[4] === '90 minutes : ₹4000/-'"
              (click)="selectPrice('4,90 minutes : ₹4000/-')">
              90 minutes : ₹4000/- only
            </li>
            <li class="price-item" [class.active]="selectedPrice[4] === '2 Hours : ₹4000/-'"
              (click)="selectPrice('4,2 Hours : ₹4000/-')">
              2 Hours : ₹4000/- only
            </li>
          </ul>
        </div>
        <button class="view-more-button">
          <div class="button-text-wrapper">
            <span class="hover-text hover-text-front">Book Now</span>
          </div>
        </button>
      </div>

    </div> -->
    <div class="service-container">

  <div class="service-card animate-on-scroll" #videoSection>
    <img src="assets/dry-masaage.jpg" alt="Dry Massage">
    <div class="service-content">
      <h3>Dry Massage</h3>
      <p>Targets muscle knots and chronic pain with firm, focused pressure.</p>
      <ul>
        <li class="price-item" [class.active]="selectedPrice[0] === '30 minutes : ₹1000/-'"
          (click)="selectPrice(0, '30 minutes : ₹1000/-')">
          30 minutes : ₹1000/- only
        </li>
        <li class="price-item" [class.active]="selectedPrice[0] === '60 minutes : ₹1800/-'"
          (click)="selectPrice(0, '60 minutes : ₹1800/-')">
          60 minutes : ₹1800/- only
        </li>
        <li class="price-item" [class.active]="selectedPrice[0] === '90 minutes : ₹2300/-'"
          (click)="selectPrice(0, '90 minutes : ₹2300/-')">
          90 minutes : ₹2300/- only
        </li>
        <li class="price-item" [class.active]="selectedPrice[0] === '2 Hours : ₹2500/-'"
          (click)="selectPrice(0, '2 Hours : ₹2500/-')">
          2 Hours : ₹2500/- only
        </li>
      </ul>
    </div>
    <button class="view-more-button" (click)="bookService()">
      <div class="button-text-wrapper">
        <span class="hover-text hover-text-front">Book Now</span>
      </div>
    </button>
  </div>

  <div class="service-card animate-on-scroll" #videoSection>
    <img src="assets/Oil Masaage.jpg" alt="Oil Massage">
    <div class="service-content">
      <h3>Oil Massage</h3>
      <p>Targets muscle knots and chronic pain with firm, focused pressure.</p>
      <ul>
        <li class="price-item" [class.active]="selectedPrice[1] === '60 minutes : ₹3000/-'"
          (click)="selectPrice(1, '60 minutes : ₹3000/-')">
          60 minutes : ₹3000/- only
        </li>
        <li class="price-item" [class.active]="selectedPrice[1] === '75 minutes : ₹3500/-'"
          (click)="selectPrice(1, '75 minutes : ₹3500/-')">
          75 minutes : ₹3500/- only
        </li>
        <li class="price-item" [class.active]="selectedPrice[1] === '90 minutes : ₹4000/-'"
          (click)="selectPrice(1, '90 minutes : ₹4000/-')">
          90 minutes : ₹4000/- only
        </li>
        <li class="price-item" [class.active]="selectedPrice[1] === '2 Hours : ₹4000/-'"
          (click)="selectPrice(1, '2 Hours : ₹4000/-')">
          2 Hours : ₹4000/- only
        </li>
      </ul>
    </div>
    <button class="view-more-button" (click)="bookService()">
      <div class="button-text-wrapper">
        <span class="hover-text hover-text-front">Book Now</span>
      </div>
    </button>
  </div>

  <div class="service-card animate-on-scroll" #videoSection>
    <img src="assets/Oil Masaage.jpg" alt="Oil Massage">
    <div class="service-content">
      <h3>Oil Massage</h3>
      <p>Targets muscle knots and chronic pain with firm, focused pressure.</p>
      <ul>
        <li class="price-item" [class.active]="selectedPrice[2] === '60 minutes : ₹3000/-'"
          (click)="selectPrice(2, '60 minutes : ₹3000/-')">
          60 minutes : ₹3000/- only
        </li>
        <li class="price-item" [class.active]="selectedPrice[2] === '75 minutes : ₹3500/-'"
          (click)="selectPrice(2, '75 minutes : ₹3500/-')">
          75 minutes : ₹3500/- only
        </li>
        <li class="price-item" [class.active]="selectedPrice[2] === '90 minutes : ₹2300/-'"
          (click)="selectPrice(2, '90 minutes : ₹2300/-')">
          90 minutes : ₹2300/- only
        </li>
        <li class="price-item" [class.active]="selectedPrice[2] === '2 Hours : ₹4000/-'"
          (click)="selectPrice(2, '2 Hours : ₹4000/-')">
          2 Hours : ₹4000/- only
        </li>
      </ul>
    </div>
    <button class="view-more-button" (click)="bookService()">
      <div class="button-text-wrapper">
        <span class="hover-text hover-text-front">Book Now</span>
      </div>
    </button>
  </div>

  <div class="service-card animate-on-scroll" #videoSection>
    <img src="assets/Oil Masaage.jpg" alt="Oil Massage">
    <div class="service-content">
      <h3>Oil Massage</h3>
      <p>Targets muscle knots and chronic pain with firm, focused pressure.</p>
      <ul>
        <li class="price-item" [class.active]="selectedPrice[3] === '60 minutes : ₹3000/-'"
          (click)="selectPrice(3, '60 minutes : ₹3000/-')">
          60 minutes : ₹3000/- only
        </li>
        <li class="price-item" [class.active]="selectedPrice[3] === '75 minutes : ₹3500/-'"
          (click)="selectPrice(3, '75 minutes : ₹3500/-')">
          75 minutes : ₹3500/- only
        </li>
        <li class="price-item" [class.active]="selectedPrice[3] === '90 minutes : ₹4000/-'"
          (click)="selectPrice(3, '90 minutes : ₹4000/-')">
          90 minutes : ₹4000/- only
        </li>
        <li class="price-item" [class.active]="selectedPrice[3] === '2 Hours : ₹4000/-'"
          (click)="selectPrice(3, '2 Hours : ₹4000/-')">
          2 Hours : ₹4000/- only
        </li>
      </ul>
    </div>
    <button class="view-more-button" (click)="bookService()">
      <div class="button-text-wrapper">
        <span class="hover-text hover-text-front">Book Now</span>
      </div>
    </button>
  </div>

  <div class="service-card animate-on-scroll" #videoSection>
    <img src="assets/Oil Masaage.jpg" alt="Swedish Masaage">
    <div class="service-content">
      <h3>Swedish Masaage</h3>
      <p>Targets muscle knots and chronic pain with firm, focused pressure.</p>
      <ul>
        <li class="price-item" [class.active]="selectedPrice[4] === '60 minutes : ₹3000/-'"
          (click)="selectPrice(4, '60 minutes : ₹3000/-')">
          60 minutes : ₹3000/- only
        </li>
        <li class="price-item" [class.active]="selectedPrice[4] === '75 minutes : ₹3500/-'"
          (click)="selectPrice(4, '75 minutes : ₹3500/-')">
          75 minutes : ₹3500/- only
        </li>
        <li class="price-item" [class.active]="selectedPrice[4] === '90 minutes : ₹4000/-'"
          (click)="selectPrice(4, '90 minutes : ₹4000/-')">
          90 minutes : ₹4000/- only
        </li>
        <li class="price-item" [class.active]="selectedPrice[4] === '2 Hours : ₹4000/-'"
          (click)="selectPrice(4, '2 Hours : ₹4000/-')">
          2 Hours : ₹4000/- only
        </li>
      </ul>
    </div>
    <button class="view-more-button" (click)="bookService()">
      <div class="button-text-wrapper">
        <span class="hover-text hover-text-front">Book Now</span>
      </div>
    </button>
  </div>

</div>
  </div>
</section>