<!-- TOP BAR -->
<div class="top-bar">
  <div class="container d-flex flex-column flex-md-row justify-content-between align-items-center">
      <span style="color: #176FC1;"><img src="assets/home-imgs/Symbol.png"> Mahad Phata, Old Mumbai–Pune Hwy, Khopoli, Raigad</span>
      <span style="color: #176FC1;"><img src="assets/home-imgs/Symbol (1).png"> +91 74004 51254 | <img src="assets/home-imgs/Symbol (2).png"> infouksresort.com</span>
  </div>
</div>

<!-- NAVBAR -->
<nav class="navbar navbar-expand-lg main-navbar" id="mainHeader">
  <div class="container">
      <a class="navbar-brand" href="#">
        <img src="assets/home-imgs/logo 1.png" alt="Logo">
      </a>

      <button class="navbar-toggler bg-light" type="button" data-bs-toggle="collapse" data-bs-target="#nav">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="nav">
        <ul class="navbar-nav ms-auto align-items-center gap-4">
          <li class="nav-item"><a class="nav-link" href="#">Home</a></li>
          <li class="nav-item"><a class="nav-link" href="/about-us">About</a></li>
          <li class="nav-item"><a class="nav-link" href="/rooms">Rooms</a></li>
          <!-- <li class="nav-item"><a class="nav-link" href="#">Dining</a></li>
          <li class="nav-item"><a class="nav-link" href="#">Facilities</a></li> -->
          <li class="nav-item"><a class="nav-link" href="/gallery">Gallery</a></li>
          <li class="nav-item"><a class="nav-link" href="/contact">Contact</a></li>
          <li class="nav-item"><a class="nav-link" href="/events">Events</a></li>
        </ul>

        <a href="https://bookone.io/UK-s-Resort-Khopoli?bookingEngine=true" class="btn btn-light book-btn book-nav">BOOK NOW</a>
      </div>
  </div>
</nav>

<section class="hero-room">

  <div class="hero-content">

    <div class="hero-text">
      <h1>
         <span class="line-unique-heading"></span>Your Comfort is Our Masterpiece. </h1>
      <h1>Explore Our World-Class Rooms.</h1>
    </div>
<div class="booking-box container">
  <form class="row g-3" (ngSubmit)="submitBooking()">

    <!-- Check-In -->
    <div class="col-md-3">
      <label for="checkIn" class="form-label">Check-In</label>
      <input
        type="date"
        class="form-control"
        id="checkIn"
        name="checkIn"
        [(ngModel)]="booking.checkIn">
    </div>

    <!-- Check-Out -->
    <div class="col-md-3">
      <label for="checkOut" class="form-label">Check-Out</label>
      <input
        type="date"
        class="form-control"
        id="checkOut"
        name="checkOut"
        [(ngModel)]="booking.checkOut">
    </div>

    <!-- Guests -->
    <div class="col-md-3">
      <label for="guests" class="form-label">Guests</label>
      <select
        class="form-select"
        id="guests"
        name="guests"
        [(ngModel)]="booking.guests">
        <option value="1">1 Guest</option>
        <option value="2">2 Guests</option>
        <option value="3">3 Guests</option>
      </select>
    </div>

    <!-- Submit Button -->
    <div class="col-md-3 d-flex align-items-end">
      <button type="submit" class="btn btn-primary w-100" >Book Now →</button>
    </div>

  </form>
</div>






  </div>

</section>


<div class="rooms-bg">
<section class="rooms-section">
<section class="rooms-header">
  <p class="rooms-subtitle">RELAX, REJUVENATE, REPEAT AT UK’S RESORT</p>

  <div class="rooms-title-wrap">
    <span class="line"></span>
    <h2>Rooms</h2>
    <span class="line"></span>
  </div>
</section>

  <!-- ROOM ITEM -->
  <div class="room-card">

    <div class="room-image">
      <img src="assets/home-imgs/Deluxe-Cottage-2.jpg.png" alt="">
      <div class="price-badge">
        <strong>Deluxe Room</strong>
        <span>₹ 3,950 + GST</span>
        <small>per night + taxes</small>
      </div>
    </div>

    <div class="room-content">
      <p class="room-desc">
        Equipped with a cozy queen bed (or twin beds), functional workspace,
        and soothing lighting, this room is perfect for couples, business travelers,
        and small families seeking a peaceful retreat.
      </p>
<div class="info-row">
  <div class="info-icon">
    <img src="assets/home-imgs/Vector (1).png" alt="">
  </div>

  <div class="info-text">
    <strong>Check-in & Check-out:</strong>
    <span>
      Standard check-in is at 12:00 PM and check-out is at 11:00 AM;
      please contact the front desk for any extensions.
    </span>
  </div>
</div>


  <div class="facilities">

  <h4 class="facilities-title">
    <span class="facilities-icon"><img src="assets/home-imgs/Vector5.png" alt=""></span> Facilities
  </h4>

  <div class="facilities-list">

    <div class="facility-item">
      <img src="assets/home-imgs/Vector (2).png" alt="">
      <span>Room Service</span>
    </div>

    <div class="facility-item">
      <img src="assets/home-imgs/Vector (3).png" alt="">
      <span>Laundry</span>
    </div>

    <div class="facility-item">
      <img src="assets/home-imgs/Vector (4).png" alt="">
      <span>Toiletries</span>
    </div>

    <div class="facility-item">
      <img src="assets/home-imgs/Vector (5).png" alt="">
      <span>Luggage Assistance</span>
    </div>

    <div class="facility-item">
      <img src="assets/home-imgs/Vector (6).png" alt="">
      <span>Newspaper</span>
    </div>

    <div class="facility-item">
      <img src="assets/home-imgs/Vector (7).png" alt="">
      <span>In-room Sofa</span>
    </div>

    <div class="facility-item">
      <img src="assets/home-imgs/streamline_hotel-air-conditioner.svg" alt="">
      <span>Air Conditioner</span>
    </div>

    <div class="facility-item">
      <img src="assets/home-imgs/material-symbols_water-pump-outline-rounded.svg" alt="">
      <span>Water Supply</span>
    </div>

    <div class="facility-item">
      <img src="assets/home-imgs/temaki_water-bottle.svg" alt="">
      <span>Bottled Water</span>
    </div>

    <div class="facility-item">
      <img src="assets/home-imgs/mingcute_wifi-line.svg" alt="">
      <span>WiFi Access</span>
    </div>

    <div class="facility-item">
      <img src="assets/home-imgs/material-symbols-light_tv-outline-rounded.svg" alt="">
      <span>Television</span>
    </div>

    <div class="facility-item">
      <img src="assets/home-imgs/guidance_office.svg" alt="">
      <span>Work Desk</span>
    </div>

  </div>
</div>

      <button class="book-btn  room-btn" (click)="goToBooking()">Book Now →</button>
    </div>

  </div>

  <!-- ROOM ITEM -->
  <div class="room-card" style="margin-bottom: 0px;">
    <div class="room-image">
      <img src="assets/home-imgs/Deluxe-Cottage-2.jpg.png" alt="">
      <div class="price-badge">
        <strong>Super Deluxe Room</strong>
        <span>₹ 4,950 + GST</span>
        <small>per night + taxes</small>
      </div>
    </div>

    <div class="room-content">
      <p class="room-desc">
        Featuring superior furnishings, ample natural light,
        and a comfortable seating area, this room ensures
        a luxurious and memorable stay.
      </p>
<div class="info-row">
  <div class="info-icon">
    <img src="assets/home-imgs/Vector (1).png" alt="">
  </div>

  <div class="info-text">
    <strong>Check-in & Check-out:</strong>
    <span>
      Standard check-in is at 12:00 PM and check-out is at 11:00 AM;
      please contact the front desk for any extensions.
    </span>
  </div>
</div>
    <div class="facilities">

  <h4 class="facilities-title">
    <span class="facilities-icon"><img src="assets/home-imgs/Vector5.png" alt=""></span> Facilities
  </h4>

   <div class="facilities-list">

    <div class="facility-item">
      <img src="assets/home-imgs/Vector (2).png" alt="">
      <span>Room Service</span>
    </div>

    <div class="facility-item">
      <img src="assets/home-imgs/Vector (3).png" alt="">
      <span>Laundry</span>
    </div>

    <div class="facility-item">
      <img src="assets/home-imgs/Vector (4).png" alt="">
      <span>Toiletries</span>
    </div>

    <div class="facility-item">
      <img src="assets/home-imgs/Vector (5).png" alt="">
      <span>Luggage Assistance</span>
    </div>

    <div class="facility-item">
      <img src="assets/home-imgs/Vector (6).png" alt="">
      <span>Newspaper</span>
    </div>

    <div class="facility-item">
      <img src="assets/home-imgs/Vector (7).png" alt="">
      <span>In-room Sofa</span>
    </div>

    <div class="facility-item">
      <img src="assets/home-imgs/streamline_hotel-air-conditioner.svg" alt="">
      <span>Air Conditioner</span>
    </div>

    <div class="facility-item">
      <img src="assets/home-imgs/material-symbols_water-pump-outline-rounded.svg" alt="">
      <span>Water Supply</span>
    </div>

    <div class="facility-item">
      <img src="assets/home-imgs/temaki_water-bottle.svg" alt="">
      <span>Bottled Water</span>
    </div>

    <div class="facility-item">
      <img src="assets/home-imgs/mingcute_wifi-line.svg" alt="">
      <span>WiFi Access</span>
    </div>

    <div class="facility-item">
      <img src="assets/home-imgs/material-symbols-light_tv-outline-rounded.svg" alt="">
      <span>Television</span>
    </div>

    <div class="facility-item">
      <img src="assets/home-imgs/guidance_office.svg" alt="">
      <span>Work Desk</span>
    </div>

  </div>
</div>


      <button class="book-btn room-btn" (click)="goToBooking()">Book Now →</button>
    </div>
  </div>

</section>
</div>
<section class="amenities-section">
  <div class="container amenities-container">

    <!-- AMENITIES -->
    <div class="amenities-grid">
      <div class="amenity-card">
        <img src="assets/home-imgs/roentgen_swimming-area.png">
        <p>Swimming Pool</p>
      </div>

      <div class="amenity-card">
        <img src="assets/home-imgs/streamline-ultimate_meeting-remote-bold.png">
        <p>Conference Room</p>
      </div>

      <div class="amenity-card">
        <img src="assets/home-imgs/mdi_airport-shuttle.png">
        <p>Car Rentals & Airport Transfers</p>
      </div>

      <div class="amenity-card">
        <img src="assets/home-imgs/material-symbols-light_parking-sign.png">
        <p>Free Parking</p>
      </div>

      <div class="amenity-card">
        <img src="assets/home-imgs/fa7-solid_user-doctor.png">
        <p>Doctor On-call</p>
      </div>

      <div class="amenity-card">
        <img src="assets/home-imgs/iconoir_gym.png">
        <p>Fitness Center</p>
      </div>

      <div class="amenity-card">
        <img src="assets/home-imgs/carbon_hospital-bed.png">
        <p>Extra Bed (on request)</p>
      </div>

      <div class="amenity-card">
        <img src="assets/home-imgs/icon-park-solid_wheelchair.png">
        <p>Wheelchair Accessible</p>
      </div>
    </div>

  </div>
</section>

<!-- IMAGES OUTSIDE -->
<section class="container amenities-images-section" style="margin-bottom: 50px;">
  <div class="amenities-images">
    <img src="assets/5870c0abb83238ed4d206a1dd116631bc2432617.png">
    <img src="assets/d0aad810408c155373bd429d4302459f20275829.png">
    <img src="assets/2ab6d413f1efc3e77342f9e7cfd2c50c409a845e.jpg">
  </div>
</section>
