
<div class="top-bar">
  <div class="container d-flex flex-column flex-md-row justify-content-between align-items-center">
      <span style="color: #176FC1;"><img src="assets/home-imgs/Symbol.png"> Mahad Phata, Old Mumbai–Pune Hwy, Khopoli, Raigad</span>
      <span style="color: #176FC1;"><img src="assets/home-imgs/Symbol (1).png"> +91 74004 51254 | <img src="assets/home-imgs/Symbol (2).png"> info&#64;uksresort.com</span>
  </div>
</div>

<nav class="navbar navbar-expand-lg main-navbar" id="mainHeader">
  <div class="container">
      <a class="navbar-brand" href="#">
        <img src="assets/home-imgs/logo 1.png" alt="Logo">
      </a>

      <button class="navbar-toggler bg-light" type="button" data-bs-toggle="collapse" data-bs-target="#nav">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="nav">
        <ul class="navbar-nav ms-auto align-items-center gap-4">
          <li class="nav-item"><a class="nav-link" href="#">Home</a></li>
          <li class="nav-item"><a class="nav-link" href="/about-us">About</a></li>
          <li class="nav-item"><a class="nav-link" href="/rooms">Rooms</a></li>
          <li class="nav-item"><a class="nav-link" href="/gallery">Gallery</a></li>
          <li class="nav-item"><a class="nav-link" href="/contact">Contact</a></li>
          <li class="nav-item dropdown">
  <a class="nav-link dropdown-toggle" href="/events" id="eventsDropdown" role="button">
    Events
  </a>
  <ul class="dropdown-menu">
    <li><a class="dropdown-item" href="/events/weddings">One Day Picnic</a></li>
    <li><a class="dropdown-item" href="/events/corporate">Conference</a></li>
    <li><a class="dropdown-item" href="/events/party">Wedding</a></li>
    <li><a class="dropdown-item" href="/events/party">Sports</a></li>

  </ul>
</li>
           <li class="nav-item"><a class="nav-link" href="/facilities">Facilities</a></li>
        </ul>

        <a href="#" class="btn btn-light book-btn book-nav">BOOK NOW</a>
      </div>
  </div>
</nav>

<section class="hero-gallery">

  <div class="hero-content">

    <div class="hero-text">
      <h1>
         <span class="line-unique-heading"></span>UK’S Resort, Khopoli </h1>
    </div>

  </div>

</section>

<section class="gallery-section">
  <div class="container">
    <span class="section-tag">GALLERY</span>

    <h2 class="section-title">
      <span></span>
      Explore the Beauty of Our Spaces
      <span></span>
    </h2>

    <p class="section-desc">
      Every image tells a story — of calm mornings, scenic views, beautifully
      designed spaces, and the gentle comfort that UK’s Resort is known for.
      Our gallery invites you to explore not just the look of the resort, but
      the feeling of being here.
    </p>

<div class="gallery-grid">
  <div *ngFor="let img of galleryImages; let i = index" class="gallery-item-wrapper">

    <img
      [src]="img"
      alt="Gallery Image"
      class="gallery-img"
      (click)="openModal(i)"
      data-bs-toggle="modal"
      data-bs-target="#galleryModal"
    />

    <button
      class="plus-btn"
      (click)="openModal(i)"
      data-bs-toggle="modal"
      data-bs-target="#galleryModal">
      <i class="fa fa-plus"></i>
    </button>

  </div>
</div>

<div class="modal fade" id="galleryModal" data-bs-backdrop="true" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg">
    <div class="modal-content bg-transparent border-0">
      <div class="modal-body p-0">
        <div id="carouselExample" class="carousel slide">
          <div class="carousel-inner">
            <div
              class="carousel-item"
              *ngFor="let img of galleryImages; let idx = index"
              [class.active]="idx === 0"
            >
              <img [src]="img" class="d-block w-100 rounded" />
            </div>
          </div>

          <button
            class="carousel-control-prev"
            type="button"
            data-bs-target="#carouselExample"
            data-bs-slide="prev"
          >
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          </button>
          <button
            class="carousel-control-next"
            type="button"
            data-bs-target="#carouselExample"
            data-bs-slide="next"
          >
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
          </button>
        </div>
      </div>
      <div class="modal-footer justify-content-center border-0">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
          Close
        </button>
      </div>
    </div>
  </div>
</div>

  </div>
</section>
